			<bx_injection:injection_content_after />
            <div class="clear_both"></div>		
		<bx_injection:banner_bottom />
		<!-- end of body -->
	</div>
    <!-- End of Gold Gradient -->
    </div>
    </div>
    <bx_injection:injection_between_content_footer />
	__boonex_footers__
        <!-- close wrapper -->
        
    </div>
 <div id="wrapper_footer_index" style="height:auto;">
  <!--      <div class="adoption-agencies">
<div class="section_1"><span>Adoption Agencies</span>
<div class="button_small"><a href="join.php" ><button class="button" type="button"><span class="small-text">Sign up now</span></button></a></div>
<p style="text-align: justify">ParentFinder provides Adoption agencies full control of an adoptive family's content and publishing capabilities and keep the information accessible and secured.
</p>
<p class="bluebuttons"><a href="contact.php" style="margin-right:10px;"><img src="templates/tmpl_ParentFinder/images/button-view-demo.png" /></a> <a href="contact.php"><img src="templates/tmpl_ParentFinder/images/button-submit.png"/></a></p>
</div>
<div class="section_2"><span>Adoptive Families</span>
<div class="button_small"><a href="join.php"><button class="button" type="button"><span class="small-text">Sign up now</span></button></a></div>
<p style="text-align: justify">ParentFinder provides adoptive families the ability to create multi-media rich profiles and integrate them with social media e.g. Facebook, twitter for birth parents to view and search.</p>
<p class="bluebuttons" ><a href="join.php" style="margin-right:10px;"><img src="templates/tmpl_ParentFinder/images/button-view-demo.png"/></a><a href="join.php"><img src="templates/tmpl_ParentFinder/images/button-submit.png" /></a></p>
</div>-->
</div>
        
        
        </div>
	<div class="bottomCopyright" style="width: __main_div_width__">
        <bx_injection:injection_footer_before />
		<div class="bottomLinks">
			__bottom_links__
		</div>
		<div class="bottomCpr">__copyright__</div>
		<bx_injection:injection_footer_after />
		<div class="clear_both"></div>
	</div>

<bx_include_auto:_footer.html />