<div class="bx-def-bc-padding" style="text-align:center;">

	<div style='float:left'><a href="javascript:getHtmlData( 'ajaxy_popup_help_div___id__', '__rate_up_url__');"><img height='32px' width='32px' src='__ico_up__'></a>&nbsp;<b>__helpful_text__</b></div>
 
	<div style='float:right'><a href="javascript:getHtmlData( 'ajaxy_popup_help_div___id__', '__rate_down_url__');"><img height='32px' width='32px' src='__ico_down__'></a>&nbsp;<b>__unhelpful_text__</b></div> 
	<div class=clear_both></div>
	<div id='ajaxy_popup_help_div___id__'></div>
</div>
