<div class="faq_unit">
	__rating__
	<div class="unit_info">
		<div class="title">
			<a class="actions" href="__faq_url__">__faq_title__</a> 
		</div>
		<div class="clear_both"></div>
		<div class="fr_small_gray_centered">
			<span class="margined10">
				<span>__post_date__</span>
			</span>
			<span class="margined10">
				<span>__comments_count__ <bx_text:_comments /></span>
			</span>
			<span class="margined10">
				<bx_text:_Categories />: __all_categories__
			</span>
			<bx_text:_Tags />: __post_tags__
		</div>
		<div class="clear_both"></div>
		<div class="blog_text__friend_style__">
			__post_picture2__
			__faq_description__
		</div>
		<div class="clear_both"></div>
	</div>
	<div class="clear_both"></div>
</div>