DirectoryIndex splash.php index.php

Options -MultiViews

<IfModule mod_php4.c> 
    php_flag register_globals Off
</IfModule>
<IfModule mod_php5.c> 
    php_flag allow_url_include Off
    php_flag register_globals Off
	php_value upload_max_filesize 120M
	php_value max_execution_time 1800
	php_value post_max_size 120M
	php_value memory_limit 512M
	php_value max_input_time 800


</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
RewriteRule ^blogs/{0,1}$   modules/boonex/blogs/blogs.php [QSA,L]
RewriteRule ^blogs/all/{0,1}$  modules/boonex/blogs/blogs.php?action=all  [QSA,L]
RewriteRule ^blogs/all/([0-9]+)/([0-9]+)/{0,1}$  modules/boonex/blogs/blogs.php?page=$2&per_page=$1  [QSA,L]
RewriteRule ^blogs/top/{0,1}$   modules/boonex/blogs/blogs.php?action=top_blogs [QSA,L]
RewriteRule ^blogs/top/([0-9]+)/([0-9]+)/{0,1}$   modules/boonex/blogs/blogs.php?action=top_blogs&page=$2&per_page=$1 [QSA,L]
RewriteRule ^blogs/top_posts/{0,1}$   modules/boonex/blogs/blogs.php?action=top_posts [QSA,L]
RewriteRule ^blogs/top_posts/([0-9]+)/([0-9]+)/{0,1}$   modules/boonex/blogs/blogs.php?action=top_posts&page=$2&per_page=$1 [QSA,L]
RewriteRule ^blogs/tag/([^/.]+)/{0,1}$   modules/boonex/blogs/blogs.php?action=search_by_tag&tagKey=$1 [QSA,L]
RewriteRule ^blogs/tag/{0,1}$   modules/boonex/blogs/blogs.php?action=search_by_tag&tagKey= [QSA,L]
RewriteRule ^blogs/posts/([^/.]+)/tag/([^/.]+)/{0,1}$   modules/boonex/blogs/blogs.php?action=search_by_tag&tagKey=$2&ownerName=$1 [QSA,L]
RewriteRule ^blogs/posts/([^/.]+)/category/([^/.]+)/{0,1}$   modules/boonex/blogs/blogs.php?action=show_member_blog&ownerName=$1&categoryUri=$2 [QSA,L]
RewriteRule ^blogs/entry/([^/.]+)/{0,1}$   modules/boonex/blogs/blogs.php?action=show_member_post&postUri=$1 [QSA,L]
RewriteRule ^blogs/entry/{0,1}$    modules/boonex/blogs/blogs.php?action=show_member_post&postUri= [QSA,L]
RewriteRule ^blogs/posts/([^/.]+)/{0,1}$   modules/boonex/blogs/blogs.php?action=show_member_blog&ownerName=$1 [QSA,L]
RewriteRule ^blogs/posts/{0,1}$   modules/boonex/blogs/blogs.php?action=show_member_blog&ownerName= [QSA,L]
RewriteRule ^blogs/posts/([^/.]+)/([0-9]+)/([0-9]+)/{0,1}$   modules/boonex/blogs/blogs.php?action=show_member_blog&ownerName=$1&page=$3&per_page=$2 [QSA,L]
RewriteRule ^blogs/posts/([^/.]+)/category/([^/.]+)/([0-9]+)/([0-9]+)/{0,1}$   modules/boonex/blogs/blogs.php?action=show_member_blog&ownerName=$1&categoryUri=$2&page=$4&per_page=$3 [QSA,L]
RewriteRule ^blogs/home/{0,1}$   modules/boonex/blogs/blogs.php?action=home [QSA,L]
RewriteRule ^blogs/all_posts/{0,1}$   modules/boonex/blogs/blogs.php?action=all_posts [QSA,L]
RewriteRule ^blogs/popular_posts/{0,1}$   modules/boonex/blogs/blogs.php?action=popular_posts [QSA,L]
RewriteRule ^blogs/featured_posts/{0,1}$   modules/boonex/blogs/blogs.php?action=featured_posts [QSA,L]
RewriteRule ^blogs/tags/{0,1}$   modules/boonex/blogs/blogs.php?action=tags [QSA,L]
RewriteRule ^blogs/show_calendar/{0,1}$   modules/boonex/blogs/blogs.php?action=show_calendar [QSA,L]
RewriteRule ^blogs/my_page/{0,1}$   modules/boonex/blogs/blogs.php?action=my_page&mode=main [QSA,L]
RewriteRule ^blogs/my_page/add/{0,1}$   modules/boonex/blogs/blogs.php?action=my_page&mode=add [QSA,L]
RewriteRule ^blogs/my_page/manage/{0,1}$   modules/boonex/blogs/blogs.php?action=my_page&mode=manage [QSA,L]
RewriteRule ^blogs/my_page/pending/{0,1}$   modules/boonex/blogs/blogs.php?action=my_page&mode=pending [QSA,L]
RewriteRule ^blogs/my_page/edit/([0-9]+)/{0,1}$  modules/boonex/blogs/blogs.php?action=edit_post&EditPostID=$1 [QSA,L]
RewriteRule ^blogs/member_posts/([0-9]+)/{0,1}$   modules/boonex/blogs/blogs.php?action=show_member_blog&ownerID=$1 [QSA,L]
RewriteRule ^blogs/category/([^/.]+)/{0,1}$   modules/boonex/blogs/blogs.php?action=category&uri=$1 [QSA,L]

RewriteRule ^ads/{0,1}$  modules/boonex/ads/classifieds.php?Browse=1 [QSA,L]
RewriteRule ^ads/my_page/{0,1}$  modules/boonex/ads/classifieds.php?action=my_page [QSA,L]
RewriteRule ^ads/my_page/add/{0,1}$  modules/boonex/ads/classifieds.php?action=my_page&mode=add [QSA,L]
RewriteRule ^ads/my_page/edit/([0-9]+)/{0,1}$  modules/boonex/ads/classifieds.php?action=my_page&mode=add&EditPostID=$1 [QSA,L]
RewriteRule ^ads/my_page/edit/([0-9]+)/dimg/([0-9]+)/{0,1}$  modules/boonex/ads/classifieds.php?action=my_page&mode=add&EditPostID=$1&dimg=$2 [QSA,L]
RewriteRule ^ads/my_page/manage/{0,1}$  modules/boonex/ads/classifieds.php?action=my_page&mode=manage [QSA,L]
RewriteRule ^ads/my_page/pending/{0,1}$  modules/boonex/ads/classifieds.php?action=my_page&mode=pending [QSA,L]
RewriteRule ^ads/my_page/disapproved/{0,1}$  modules/boonex/ads/classifieds.php?action=my_page&mode=disapproved [QSA,L]
RewriteRule ^ads/cat/([^/.]+)/{0,1}$  modules/boonex/ads/classifieds.php?catUri=$1 [QSA,L]
RewriteRule ^ads/all/cat/([0-9]+)/([0-9]+)/([^/.]+)/{0,1}$  modules/boonex/ads/classifieds.php?catUri=$3&page=$2&per_page=$1 [QSA,L]
RewriteRule ^ads/subcat/([^/.]+)/{0,1}$  modules/boonex/ads/classifieds.php?scatUri=$1 [QSA,L]
RewriteRule ^ads/all/subcat/([0-9]+)/([0-9]+)/([^/.]+)/{0,1}$  modules/boonex/ads/classifieds.php?scatUri=$3&page=$2&per_page=$1 [QSA,L]
RewriteRule ^ads/entry/([^/.]+)/{0,1}$  modules/boonex/ads/classifieds.php?entryUri=$1 [QSA,L]
RewriteRule ^ads/tag/([^/.]+)/{0,1}$  modules/boonex/ads/classifieds_tags.php?tag=$1 [QSA,L]
RewriteRule ^ads/calendar/{0,1}$  modules/boonex/ads/classifieds.php?action=show_calendar [QSA,L]
RewriteRule ^ads/categories/{0,1}$  modules/boonex/ads/classifieds.php?action=show_categories [QSA,L]
RewriteRule ^ads/tags/{0,1}$  modules/boonex/ads/classifieds.php?action=tags [QSA,L]
RewriteRule ^ads/all_ads/{0,1}$  modules/boonex/ads/classifieds.php?action=show_all_ads [QSA,L]
RewriteRule ^ads/top_ads/{0,1}$  modules/boonex/ads/classifieds.php?action=show_top_rated [QSA,L]
RewriteRule ^ads/popular_ads/{0,1}$  modules/boonex/ads/classifieds.php?action=show_popular [QSA,L]
RewriteRule ^ads/featured_ads/{0,1}$  modules/boonex/ads/classifieds.php?action=show_featured [QSA,L]

RewriteRule ^search/tag/([^/.]+)/{0,1}$  search.php?Tags=$1 [QSA,L]

RewriteRule ^browse/([^/.]+)/([^/.]+)/([^/.]+)$ browse.php?sex=$1&age=$2&country=$3 [QSA,L]

RewriteRule ^m/(.*)$  modules/index.php?r=$1 [QSA,L]
RewriteRule ^forum/listing/(.*)$  modules/boonex/forum/$1?orca_integration=listing [QSA,L]
RewriteRule ^forum/groups/(.*)$  modules/boonex/forum/$1?orca_integration=groups [QSA,L]
RewriteRule ^forum/events/(.*)$  modules/boonex/forum/$1?orca_integration=events [QSA,L]
RewriteRule ^forum/store/(.*)$  modules/boonex/forum/$1?orca_integration=store [QSA,L]
RewriteRule ^forum/$  modules/boonex/forum/index.php [QSA,L]
RewriteRule ^forum/(.*)$  modules/boonex/forum/$1 [QSA,L]

RewriteRule ^page/(.*)$  viewPage.php?ID=$1 [QSA,L]

# ************** kolimarfey: places [begin] *******************
RewriteRule ^places/(.*)\.css$ modules/kolimarfey/places/$1.css [L]
RewriteRule ^places/(.*)\.js$ modules/kolimarfey/places/$1.js [L]
RewriteRule ^places/(.*)\.swf$ modules/kolimarfey/places/$1.swf [L]
RewriteRule ^places/(.*)\.png$ modules/kolimarfey/places/$1.png [L]
RewriteRule ^places/(.*)\.gif$ modules/kolimarfey/places/$1.gif [L]
RewriteRule ^places/(.*)\.kml$ modules/kolimarfey/places/$1.kml [L]
RewriteRule ^places/(.*)\.kmz$ modules/kolimarfey/places/$1.kmz [L]
RewriteRule ^places/application/icons/(.*)\.jpg$  modules/kolimarfey/places/application/icons/$1.jpg [L]
RewriteRule ^places/(.*)$  modules/kolimarfey/places/places.php/$1 [QSA,L]
RewriteRule ^places.php/(.*)$  modules/kolimarfey/places/places.php/$1 [QSA,L]
# ************** kolimarfey: places [ end ] *******************
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .+ - [L]
#RewriteRule ^([^/]+)$ profile.php?ID=$1 [QSA,L]

# *********HTTPS Redirection**********
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^([^/]+)$ /moreaboutus.php?nickname=$1 [QSA,L]
RewriteRule ^([\w\W]+)/about/?$ /moreaboutus.php?nickname=$1 [QSA,L]
RewriteRule ^([\w\W]+)/about/badge/?$ /moreaboutus.php?nickname=$1&loadFrom=badge [QSA,L]

RewriteRule ^([\w\W]+)/home/?$ /ourhome.php?nickname=$1 [QSA,L]
RewriteRule ^([\w\W]+)/home/badge/?$ /ourhome.php?nickname=$1&loadFrom=badge [QSA,L]

RewriteRule ^([\w\W]+)/letters/?$ /ourletters.php?nickname=$1 [QSA,L]
RewriteRule ^([\w\W]+)/letters/badge/?$ /ourletters.php?nickname=$1&loadFrom=badge [QSA,L]

RewriteRule ^([\w\W]+)/contact/?$ /contactus.php?nickname=$1 [QSA,L]
RewriteRule ^([\w\W]+)/contact/badge/?$ /contactus.php?nickname=$1&loadFrom=badge [QSA,L]

RewriteRule ^([\w\W]+)/video/?$ /video.php?nickname=$1 [QSA,L]
RewriteRule ^([\w\W]+)/video/badge/?$ /video.php?nickname=$1&loadFrom=badge [QSA,L]
RewriteRule ^([\w\W]+)/fastfact/?$ /fastfact.php?nickname=$1 [QSA,L]

#sailaja-api
RewriteRule ^api/([\w\W]+)/Profile/?$ /RESTAPI/Profile.php?nickname=$1&method=$2 [QSA,L]
RewriteRule ^api/([\w\W]+)/Photos/([\w\W]+)/([\w\W]+)/?$ /RESTAPI/Photos.php?nickname=$1&method=$2&id=$3 [QSA,L]
RewriteRule ^api/([\w\W]+)/Videos/([\w\W]+)/([\w\W]+)/?$ /RESTAPI/Videos.php?nickname=$1&method=$2&id=$3 [QSA,L]
RewriteRule ^api/([\w\W]+)/Blogs/([\w\W]+)/([\w\W]+)/([\w\W]+)/([\w\W]+)/?$ /RESTAPI/Blogs.php?nickname=$1&method=$2&id=$3&blogId=$4&lmt=$5 [QSA,L]
RewriteRule ^api/([\w\W]+)/Letters/([\w\W]+)/?$ /RESTAPI/Letters.php?nickname=$1&method=$2 [QSA,L]
RewriteRule ^api/([\w\W]+)/Agency/?$ /RESTAPI/Contact.php?nickname=$1&method=$2 [QSA,L]
RewriteRule ^api/([\w\W]+)/Common/?$ /RESTAPI/Common.php?nickname=$1&method=$2 [QSA,L]

#RewriteRule ^singleapi/([\w\W]+) RESTAPI/singleapi.php?url=$1 [QSA,L]
#RewriteRule ^([\w\W]+)/dbapi rest/api.php?rquest=$1 [QSA,L]

RewriteRule ^agency/([\w\W]+)/?$ /extra_agency_view_29.php?nickname=$1 [QSA,L]
RewriteRule ^agency/([\w\W]+)/badge/?$ /extra_agency_view_29.php?nickname=$1&loadFrom=badge [QSA,L]

RewriteRule ^([\w\W]+)/journal/([\w\W]+)/([0-9]+)/?$ /journalcontent.php?nickname=$1&jorID=$3 [QSA,L]
RewriteRule ^([\w\W]+)/journal/([\w\W]+)/([0-9]+)/badge/?$ /journalcontent.php?nickname=$1&jorID=$3&loadFrom=badge [QSA,L]

RewriteRule ^([\w\W]+)/journals/?$ /journallist.php?nickname=$1 [QSA,L]
RewriteRule ^([\w\W]+)/journals/badge/?$ /journallist.php?nickname=$1&loadFrom=badge [QSA,L]

</IfModule>

AddType application/vnd.adobe.air-application-installer-package+zip .air
AddType application/x-shockwave-flash .swf
Redirect /beawinner/ /page/beawinner
Redirect /beawinner /page/beawinner
