<div class="yn_t_ad_unit_tour" id="yn_t_ad_tour___tour_id__">
    <div class="yn_t_ad_img_close">
    </div>
	<div class="yn_t_ad_unit_title" title="__tour_title__">
		__tour_title__
	</div>
    <div class="yn_t_ad_img_manage">
		<img width="24px" height="24px" style="cursor: pointer;" class="yn_t_ad_img_edit" src="<bx_image_url:tour_edit.png />" title="Manage Stations"/>
		<img width="24px" height="24px" style="cursor: pointer;" class="yn_t_ad_img_enable" src="__tour_img_enable__" alt="active/deactive" title="Activate/deactivate the tour" />
		<img width="24px" height="24px" style="cursor: pointer;" class="yn_t_ad_img_test" src="<bx_image_url:tour_test.png />" title="Play the tour"/>
    </div>
</div>