<div class="yn_t_ad_form_add_tour" id="yn_t_ad_form_add_tour">
    <table>
        <tr>
            <td>
                <div class="yn_t_ad_f_ad_caption">
                    Tour name:
                </div>
            </td>
            <td class="yn_t_ad_f_ad_value">
                <div class="clear_both"></div>
                <div class="input_wrapper input_wrapper_text">
                    <input class="form_input_text" id="yn_t_ad_f_add_tour_name" maxlength="100" type="text" name="tour_name" value="" />
                    <div class="input_close input_close_text">
                </div>
                <div class="clear_both"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="yn_t_ad_f_ad_caption">  
                    Auto play:
                </div>
            </td>
            <td class="yn_t_ad_f_ad_value">
                <div class="clear_both"></div>
                <div class="input_wrapper input_wrapper_radio_set">
                    <div class="form_input_radio_set">
                        <input class="form_input_radio" type="radio" name="yn_t_ad_auto_play" value="0" checked="checked" />
                        <label for="add_tour_input_auto_play_0">No</label>             
                        <input class="form_input_radio" type="radio" name="yn_t_ad_auto_play" value="1" />
                        <label for="add_tour_input_auto_play_1">Yes</label> 
                    </div>
                    <div class="input_close input_close_radio_set"></div>
                </div>                        
                <div class="clear_both"></div>
            </td>
        </tr>
        <tr>
            <td class="yn_t_ad_f_ad_caption">
                    &nbsp;
            </td>
            <td class="yn_t_ad_f_ad_value">
                <div class="clear_both"></div>
                <div class="input_wrapper input_wrapper_submit">
                    <div class="button_wrapper">
                        <input class="form_input_submit" type="button" value="Add" id="yn_t_ad_f_add_button" />
                        <div class="button_wrapper_close"></div>
                    </div>
                    <div class="input_close input_close_submit"></div>
                </div>
                <div class="clear_both"></div>
            </td>
        </tr>
    </table>        
</div>
<div class="yn_t_ad_block_add_tour">
    <div class="button_wrapper yn_t_ad_bt_add_tour">
        <div class="yn_t_ad_bt_img_add_tour">
            <img src="<bx_image_url:tour_add_tour.png />" alt="add tour" />
        </div>
        <input id="yn_tour_bt_add_tour" type="button" value="Add new tour" class="form_input_submit" />
        <div class="button_wrapper_close"></div>
    </div>
</div>