<div id="yn_t_ad_block_station">
    __unit_stations__
</div>
<div class="yn_t_ad_block_add_station">
    <div class="button_wrapper yn_t_ad_bt_done_edit_tour" id="yn_tour_bt_done_edit_tour">
        <div class="yn_t_ad_bt_img_done_edit_tour">
            <img src="<bx_image_url:tour_done_edit.png />" alt="done edit" />
        </div>
        <input type="button" value="Finished" class="form_input_submit" />
        <div class="button_wrapper_close"></div>
    </div>
    <div class="button_wrapper yn_t_ad_bt_add_station" id="yn_tour_bt_add_station" >
        <div class="yn_t_ad_bt_img_add_station">
            <img src="<bx_image_url:tour_add_tour.png />" alt="add station" />
        </div>
        <input type="button" value="Add station" class="form_input_submit" />
        <div class="button_wrapper_close"></div>
    </div>
    
</div>