<!-- <div id="yn_t_ad_button_begin">
    <div class="yn_t_ad_b_begin">
        <div class="yn_t_ad_img_set_tour">
            <input id="yn_t_ad_text_begin_pass" style="display: none;" value="__pass_admin__"/>
        </div>
        <div class="yn_t_ad_text_begin">Setup Tours</div>
    </div>
</div>
<link href="<bx_url_root />modules/younet/tour_guide/templates/base/css/tour_admin_popup.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<bx_url_root />plugins/jquery/jquery-ui.js"></script> -->