<div class="yn_t_ad_unit_station_edit" id="yn_t_ad_station___station_id__">
    <div class="yn_t_ad_unit_station_edit_info">
        <img class="yn_t_ad_img_unit_station_edit" src="<bx_image_url:station_edit.png />" />
        <img class="yn_t_ad_img_unit_station_reset" src="<bx_image_url:station_reset.png />" />
        <img class="yn_t_ad_img_unit_station_delete" title="Click 2 times to delete" src="<bx_image_url:station_delete.png />" />
        <img class="yn_t_ad_img_unit_station_move" src="<bx_image_url:station_move.png />" />
    	<div class="yn_t_ad_unit_station_title" title="__station_msg__">
    		__station_msg__
    	</div>
    </div>
    <div class="yn_t_ad_unit_station_edit_form">
        <table>
            <tr>
                <td>
                    <div class="yn_t_ad_f_ad_caption">
                        Message:
                    </div>
                </td>
                <td>
                    <div class="input_wrapper_text">
                        <input class="form_input_text yn_t_ad_ip_edit_msg" type="text" id="yn_t_ad_unit_station_edit_msg___station_id__" value="__station_msg__" />
                        <div class="input_close input_close_text"></div>
                    </div>  
                </td>
            </tr>
            <tr>
                <td>
                    <div class="yn_t_ad_f_ad_caption">
                        Position:
                    </div>
                </td>
                <td>
                    <div class="input_wrapper_select">
                        <select class="form_input_select yn_t_ad_sl_edit_pos" id="yn_t_ad_unit_station_edit_pos___station_id__">
                            __station_option__
                        </select>
                        <div class="input_close input_close_select"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>