<div id="yn_tour_station___station_id__">
	<div class="yn_station_handle">
		<div style="height:40px;line-height:40px;">
			<div title="__station_msg__" style="float:left; max-width:540px; height:40px; overflow:hidden;">
				__station_msg__
			</div>
			<a style="float:right;" href="<bx_url_root />m/tour_guide/administration/delete_station/__station_id__">
                <bx_text:_yn_tour_button_delete />
            </a>
			<a style="float:right;margin-right:20px" href="<bx_url_root />m/tour_guide/administration/edit_station/__station_id__">
                <bx_text:_yn_tour_button_edit />
            </a>
		</div>
	</div>
</div>