	<div id="books_list_template">
		<div>
			<div class='book_info'>
				<div>
					<span class='title'>Item Name:</span>
					<span class='book_name'>#name#</span>
				</div>
				<div>
					<span class='title'>Description:</span>
					<span class='author_name'>#desc#</span>
				</div>
				<div>
					<span class='title'>URL:</span>
					<span class='url'><a href="#urlcart#" target="_blank"> #urlcart#</a></span>
				</div>					
				<div>
					<span class='title'>Price:</span>
					<span class='price'>#price#$</span>
				</div>
		
				<div>
					<div class="select_button">Select</div>
				</div>
			</div>

		</div>
	</div>
	