<div id="bdg_feed_containersingle">
	<!-- <div id="bdg_feed_image" style="background-image:url(__pic_url__);"> -->
            <div id="bdg_feed_image">
     <img src="__pic_url__" width="80" height="80">
		<!--bx_icon_url:spacer.gif/-->
	</div>
	<ul id="bdg_feed_unit">	
		<li id="bdg_feed_name">__name__ __video__ __photo__ __blog__ </li>
		<li id="bdg_feed_desc">__desc__</li>
		<li id="bdg_feed_more">
			<a href="__link__" onClick="popup = window.open('__link__', 'PopupPage', 'location=no,height=2000,width=2000,scrollbars=yes,resizable=yes'); return false" target="_blank">__read_more_key__</a>
		</li>
	</ul>
</div>