<div class="bx_sys_block_info">
    <div class="infoMain">
        <div class="memberPic">
            __author_thumb__
            <div class="thumb_username"><a href="__author_url__">__author_username__</a></div>
        </div>
        <div class="infoText">
            <div class="infoUnit"style="width:240px;padding-left:5px;">
                __agencyname__
            </div>
			 <div class="infoUnit"style="width:240px;padding-left:5px;">
                __street__
            </div>
            <div class="infoUnit"style="width:240px;padding-left:5px;">
                __address__
            </div>
			<div class="infoUnit"style="width:240px;padding-left:5px;">
                __country__
            </div>
			
            <div class="infoUnit"style="width:240px;padding-left:5px;">
                __phone__
            </div>
            <div class="infoUnit"style="width:240px;padding-left:5px;">
                __fax__
            </div>
             <div class="infoUnit"style="width:240px;padding-left:5px;">
                __email__
            </div>
            <div class="infoUnit" style="width:240px;padding-left:5px;">
                __weburl__
            </div>
			<div class="infoUnit"style="width:240px;padding-left:5px; ">
                __facebook__ __twitter__
            </div>
			
            
            
        </div>
        <div class="clear_both"></div>
    </div>
</div>



