<div class="clear_both"></div>
		<div class="grayIcons icoBuilder">MY EXPECTANT PARENT PROFILE</div>
		
		<div class="clear_both"></div>
		<div class="profileInfoHeader">
			<div class="profileInfoName">__fname__</div>
			<div class="profileInfoLastSeen_bm">__lastactive__</div>
			<a href="__profilehome__"><div class="icoProfHome">PROFILE HOME</div></a>
			<div class="questionnaire"><a href="">QUESTIONNAIRE</a></div>
		</div>
		<div class="clear_both"></div>
		<div class="headerGreen">HOW TO BE MATCH WITH A FAMILY</div>
		<div class="clear_both"></div>
		Matching can happen two different ways.
		<ul>
			<li>Agencies/Attorneys have the ability to match you with their Adoptive Couples based on the information you provide when joining as a full member.</li>
			<li>After refining your search of Parentfinder Couples, you can reach out to Agencies/Attorneys to be matched with Adoptive Couple(s) you FAVORITE.</li>
		</ul>
		
		<div class="parentMenuIconsBlock">
			<div class="clear_both"></div>
				<a href=""><div class="parAccountIcons icoParForum"></div></a>
				<a href=""><div class="parAccountIcons icoParLike"></div></a>
				<a href=""><div class="parAccountIcons icoParSearch"></div></a>
				<a href=""><div class="clear_both"></div></a>
				<a href=""><div class="parAccountIcons icoParResources"></div></a>
				<a href=""><div class="parAccountIcons icoParAgencies"></div></a>
				<a href=""><div class="parAccountIcons icoParFavorite"></div></a>
			<div class="clear_both"></div>	
		</div>
		<div class="clear_both"></div>
                <div class="pageColumn5">
			<div class="headerGreen">WHAT TO EXPECT FROM YOUR PARENTFINDER PROFILE</div>
			Some copy will go here that helps set up the video and explains the process. Some copy will go here that helps set up the video and explains the process. Some copy will go here that helps set up the video and explains the process. Some copy will go here that helps set up the video and explains the process. Some copy will go here that helps set up the video and explains the process.
			<br>
			<br>
			<div class="maiVideoBlock">Video Here</div>
		</div>
				
	<div class="clear_both"></div>