<br>
<form id="adm-mp-members-form" enctype="multipart/form-data" method="post" action="__action_url__" class="form_advanced" >
    
    <input type="hidden" name="adm-mp-members-ctl-type" value="__ctl_type__" />
    <input type="hidden" name="adm-mp-members-view-type" value="__view_type__" />
    <div class="adm-db-control-panel">       
        <div class="adm-mp-order-item" style="float: left;">
            __orderby__  
           &nbsp; &nbsp;<bx_text:_adm_txt_mp_order_by />
            <select name="__order_by__" class="form_input_select" onChange="showSelected(this.value)">
                <option value=""><bx_text:_adm_txt_mp_order_none /></option>
                <option value="NickName" __NickNameselected__><bx_text:_adm_txt_mp_order_user_name /></option>
                <option value="DateReg" __DateRegselected__><bx_text:_adm_txt_mp_order_last_join /></option>
                <option value="DateLastNav" __DateLastNavselected__><bx_text:_adm_txt_mp_order_last_activity /></option>
            </select>
        </div>
        <div class="adm-mp-order-item-right">
          <!--  __per_page-->__excelsheet__
        </div>
        <div class="clear_both">&nbsp;</div>
    </div>

</form>