<script type="text/javascript">

function preloader() {
	if (document.getElementById) {
		document.getElementById("preload-01").style.background = "url(__usr_thumb_url0__) no-repeat -9999px -9999px";

	}
}
function addLoadEvent(func) {
	var oldonload = window.onload;
	if (typeof window.onload != 'function') {
		window.onload = func;
	} else {
		window.onload = function() {
			if (oldonload) {
				oldonload();
			}
			func();
		}
	}
}
addLoadEvent(preloader);

</script>

<div style="position:relative;float:left;width:auto;height:auto;margin-right:5px;overflow: hidden;" class="featured_block_1">
<a href="__usr_profile_url__"   style="display:block;"  onmouseover="javascript:startUserInfoTimer( __iProfId__, $(this).find('.sys-online-offline:first') )" onmouseout="javascript:stopUserInfoTimer(__iProfId__)">
<img src="<bx_image_url:spacer.gif />" id = "preload-01" style="background-image:url(__usr_thumb_url0__);background-position: center center;border: 3px solid #d6d6d6;font-size:0;line-height: 0;margin: 0;padding: 0;position: relative;" width="145" height="200" alt="__usr_thumb_title0__" title="__usr_thumb_title0__" class="thumbnail_block,thumbnail_image"/>
<img src="__sys_status_url__" alt="__sys_status_title__" title="__sys_status_title__" class="sys-online-offline" onclick="showFloatUserInfo(__iProfId__, $(this)); return false;" width="__sys_status_img_width__" height="__sys_status_img_height__" />

</a>

<bx_if:profileLink>
<a href="__usr_profile_url__" style="display:block;width:145px;height:auto;text-align:center;margin-top:5px;color:#107dc2;">__personOne__&nbsp;&amp;&nbsp;__personTwo__</a>

</bx_if:profileLink>
    </div>    