<div id="badgeDiv"> 
	<bx_repeat:items>   
	  <div class="badgeContainer" id="main__id__"> 
		    <div class="tickbox">
				<input type="checkbox" onclick="location.href='__editurl__'" name="entry[__id__]" value="__id__" />
		    </div>  
			<div class="BadgeName">__title__</div>
			<span>__thumb__</span><br>
 	  </div> 
	</bx_repeat:items>
	<div class="clear_both"></div> 
</div>
<div class="group_mem_pagination">__controls__</div>
<div class="clear_both"></div>  
<div class="group_mem_pagination">__pagination__</div>