<div class="mbp-available-badge">
    <bx_repeat:badge>
        <div class="mbp-badge">
            <div class="mbp-badge-icon" style="background-image:url(__icon__);" >
                <img src="<bx_image_url:spacer.gif />" />
            </div>
 
            <div class="mbp-badge-content">
                <div class="mbp-badge-title">
                   __title__ 
                </div>    
            </div>
        </div>
    </bx_repeat:badge>
    <div class="mbp-cb">&nbsp;</div>
</div>

<div class="clear_both"></div>  
<div class="group_mem_pagination">__pagination__</div>
