<div class="badge-current-level">
    <div class="badge-level">
        <div class="badge-level-icon" style="background-image:url(__icon__);">
            <img src="<bx_image_url:spacer.gif />" />
        </div>
        <div class="badge-level-content">
            <div class="badge-level-title">
                <a href="javascript: void(0)" onclick="javascript: window.open('<bx_url_root />explanation.php?explain=membership&type=__id__', '', 'width=650,height=300,menubar=no,status=no,resizable=no,scrollbars=yes,toolbar=no, location=no');">__title__</a>
            </div>  
			<bx_if:owner>
				<div class="badge-level-info">__expires__</div>
			</bx_if:owner>
        </div>
        <!--<div class="badge-level-description">__description__</div>-->
    </div>
</div>
