<div class="mbp-available-levels">
    <bx_repeat:levels>
        <div class="mbp-level"> 
            <div class="mbp-level-price">
            	<div class="image" style="background-image:url(__currency_icon__);">&nbsp;</div>
            	<div class="text">__price__</div>
            </div>
            <div class="mbp-level-content">
                <div class="mbp-level-title">
                    __title__ (__days__)
                </div>                
                <div class="mbp-level-info">__description__</div> 
				<div class="mbp-cb">&nbsp;</div> 
             </div>
        </div>
    </bx_repeat:levels>
    <div class="mbp-cb">&nbsp;</div>
</div>
