<div class="listing_unit"> 
 	<div class="bx_sys_unit_checkbox" >
		<input type="checkbox" name="entry[]" value="__id__" />
	</div>  
    <div class="sys_file_search_header">
        <div class="sys_file_search_rate">__rating__</div>
        <div class="clear_both"></div>
    </div>

	<div class="unit_info"> 
		<div style='float:left;width:155px'>  
			<div class="modzzz_file_search_pic" style="background-image: url(__thumb_url__);">
				<a href="__listing_url__"><img src="<bx_icon_url:spacer.gif />"/></a>
			</div>
		</div>
		<div style='float:left;width:65%'> 
			<div class="title">
				<a class="actions" href="__listing_url__">__listing_title__</a> 
			</div>
			<div class="clear_both"></div>
			<div class="fr_small_gray_centered">
				<span class="margined10">
					<span>__post_date__</span>
				</span>
				<span class="margined10">
					<span>__comments_count__ <bx_text:_comments /></span>
				</span>
				<span class="margined10">
					<bx_text:_Categories />: __all_categories__
				</span>
				<bx_text:_Tags />: __post_tags__
			</div>
			<div class="clear_both"></div>
			<div class="claim_text">
				__claim_message__
			</div>
			<div class="clear_both"></div>
			<div class="claim_owner">
				<bx_text:_modzzz_listing_claimed_by /> <a class="actions" href="__claimant_url__">__claimant_name__</a> <bx_text:_modzzz_listing_on /> __claim_date__
			</div> 
		</div>
		<div class="clear_both"></div> 
	</div>
	<div class="clear_both"></div>
</div>
