<div class="categories_wrapper">	 
	 <div class="block_header" style="width: 100%;"><a class="actions" href='__all_categories_url__'><bx_text:_modzzz_listing_all_categories /></a></div>

	 <div class="block_header" style="width: 100%;"><a class="actions" href='__parent_category_url__'>__parent_category__</a></div>

	<bx_repeat:entries> 
		 <div class="__subcategory_class__" style="width: 100%;"><a class="actions" href='__subcategory_url__'>__subcategory__</a> (__num_items__)</div> 
	</bx_repeat:entries>  
</div>