<div class="modzzz_listing_default_padding"> 
	 <div class='block_header'><bx_text:_modzzz_listing_regions_for_country />: <b>__country_name__</b></div>  
	 <div class='clear_both'></div>	 
	  
	  <bx_repeat:entries>  
		  <bx_if:selstate> 
				<div class="categories_col" style="width: 100%;">__state_name__ (__num_items__)</div>
				<div class='clear_both'></div>	 
 		  </bx_if:selstate> 
		  <bx_if:regstate> 
 				<div class="categories_col" style="width: 100%;"><a class="actions" href='__state_url__'>__state_name__</a> (__num_items__)</div>  
				<div class='clear_both'></div>	 
		  </bx_if:regstate> 
	  </bx_repeat:entries>  
 </div>