<div class="modzzz_listing_default_padding"> 
<table>
 	<tr>
         <bx_repeat:rows>
            <td valign=top>
			  <bx_repeat:entries>
				<bx_if:region>
					<div class="block_header">__region_name__</div>
					<div class="clear_both"></div>
					<a href='__country_url__'>__country_name__</a><br>
				</bx_if:region>
				<bx_if:country>
					<a href='__country_url__'>__country_name__</a><br>
				</bx_if:country>
			  </bx_repeat:entries>
			</td>
        </bx_repeat:rows>
 	</tr> 
</table> 
</div>
