<div class="listing_unit" >
 
	<div class="bx_sys_unit_checkbox" >
		<input type="checkbox" name="entry[]" value="__id__" />
	</div>   
	 	
	<div class="unit_info unit_info_order" style='margin-left:25px'>
		<div class="title">
			<b>__package__</b> - <a href="__listing_url__">__listing_title__</a> 
		</div>
		<div class="clear_both"></div>
		
		<div class="fr_order_gray_centered">  
			<span class="margined10">
				<bx_text:_modzzz_listing_order_no />: <span>__order_no__</span>
			</span>
			<span class="margined10">
				<bx_text:_modzzz_listing_invoice_no />: <span>__invoice_no__</span>
			</span> 
			<span class="margined10">
				<bx_text:_modzzz_listing_purchaser />: <span><a href="__author_url__">__author_username__</a></span>
			</span>  
			<span class="margined10"> 
				<bx_text:_modzzz_listing_payment_method />: <span>__payment_method__</span>
			</span> 
		</div> 
		<div class="clear_both"></div> 
		<div class="fr_order_gray_centered"> 
			<span class="margined10">
				<bx_text:_modzzz_listing_order_date />: <span>__create_date__</span>
			</span>
			<span class="margined10">
				<bx_text:_modzzz_listing_next_due_date />: <span>__due_date__</span>
			</span> 
			<span class="margined10">
				<bx_text:_modzzz_listing_status />: <span>__order_status__</span>
			</span> 
			<span class="margined10">
				<bx_text:_modzzz_listing_product_status />: <span>__product_status__</span>
			</span> 
		</div> 
		<div class="clear_both"></div>
	</div> 
	<div class="clear_both"></div>
</div>
 
