<form id="__form_name__" enctype="multipart/form-data" method="post" action="" class="form_advanced">
    <input type=hidden name='parent' value='__id__'>
	
   <div class="form_advanced_wrapper category_form_wrapper">
	<table class="form_advanced_table" cellpadding="0" cellspacing="0"> 
	<tr>
		<td class="caption">
			<span class="required">*</span> 
			<bx_text:_modzzz_listing_categ_name />: 
		</td> 
		<td class="value">
			<div class="clear_both"></div>
			<div class="input_wrapper input_wrapper_text">
				<input class="form_input_text" name="parentname" value="__name__" type="text"> 
				<div class="input_close input_close_text"></div>
			</div>  
			<div class="clear_both"></div>
		</td>
	</tr> 	
	<tr>
		<td class="caption"> 
			<bx_text:_modzzz_listing_categ_present_icon />:
		</td> 
		<td class="value">
			<div class="clear_both"></div>
			<div class="input_wrapper input_wrapper_file">
				<img src="__icon_url__" >  
			</div>  
			<div class="clear_both"></div>
		</td>
	</tr>	 
	<tr>
		<td class="caption"> 
			<bx_text:_modzzz_listing_categ_icon />:
		</td> 
		<td class="value">
			<div class="clear_both"></div>
			<div class="input_wrapper input_wrapper_file">
				<input class="form_input_text" name="iconfile" type="file"> 
				<div class="input_close input_wrapper_file"></div>
			</div>  
			<div class="clear_both"></div>
		</td>
	</tr> 	
	</table> 
</div> 
 
    __controls__
</form>