<link href="<bx_url_root />modules/harvest/memberships/dolphin_subs.css" rel="stylesheet" type="text/css" />
<div class="acc_info_main">
    <table id="acc_info_table" cellspacing="0" cellpadding="0">
         <thead>
               <tr>
                    <td style="padding:5px;"> 
                        <div id="current_subscription">   
						<div id="main_box">
							<div class="mem_icon">                     
                            	__mem_icon__
							</div>
							<div class="nick_name">
								__nick_name__
							</div>
							<div class="member_since">
								<span><bx_text:_dol_subs_member_since /></span><br/>
								__mem_since__							
							</div>
							<div class="clear"></div>
							<br/>
							<h3 class="acc_info_heading"><bx_text:_dol_subs_sub_info /></h3>
							<table id="acc_info_table">
								<tr class="acc_info"><td class="label">
									<bx_text:_dol_subs_membership_type /></td>
									<td><div class="membership_info">
										__mem_mlevel__											
									</div</td>
								</tr>			
								<tr class="acc_info"><td class="label">
									<bx_text:_dol_subs_start_date />
									<td>
										__start_date__											
									</td>
								</tr>									
								<tr class="acc_info"><td class="label">
									<bx_text:_dol_subs_exp_date />
									<td>
										__exp_date__									
									</td>
								</tr>
								<tr class="acc_info"><td class="label">
									<bx_text:_dol_subs_status />
										__status__											
								</tr>
								<tr class="acc_info"><td class="label">
									<bx_text:_dol_subs_payment_type />
									<td>
										__proc__								
									</td>
								</tr>
							</table>
                        </div>
	                 </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding:5px;"> 
                        <div id="current_subscription">                        
                            
                        </div>
                    </td>
                </tr>
            </tbody>        
        </table>
    </div>


</div>
