<form action="__action__" method="post" target="_parent">
	<input type="hidden" name="business" value="__business__" />
	<input type="hidden" name="cmd" value="__auto__" />
	<input type="hidden" name="currency_code" value="__cur_code__" />
	<input type="hidden" name="item_name" value="__item_name__" />
	<input type="hidden" name="item_number" value="__item_number__" />
	<input type="hidden" name="amount" value="__amount__" />
	<input type="hidden" name="a3" value="__amount__" />
	<input type="hidden" name="p3" value="__length__" />
	<input type="hidden" name="t3" value="__unit__" />

	<bx_if:auto>
	<input type="hidden" name="src" value="__src__" />
	<input type="hidden" name="sr1" value="__sr1__" />
	</bx_if:auto>


	<bx_if:trial>
	<input type="hidden" name="a1" value="0" />
	<input type="hidden" name="p1" value="__t_length__" />
	<input type="hidden" name="t1" value="D" />
	</bx_if:trial>

	<input type="hidden" name="no_note" value="1" />
	<bx_if:acl>
		__modify__
	</bx_if:acl>
	<input type="hidden" name="rm" value="2" />
	<input type="hidden" name="notify_url" value="__callback__" />
	<input type="hidden" name="cancel_return" value="__return__" />
	<input type="hidden" name="return" value="__return__" />    
	<input type="submit" name="submit-pp" alt="PayPal" value="Subscribe" />
</form>


