<bx_repeat:comments> 
<div class='comment'>
	<div class='messages'>   
		 <div style='float:left;width:7%;margin-left:10px;' >__ico_member__</div>
		 <div style='float:left;width:91%;' >
			  <p class="messages-message">__message__</p> 
			  <p class="messages-meta"><bx_text:_bx_events_posted_by /> <a href="__nicklink__">__nickname__</a>, __date__</p>
			  <p class="messages-meta"><bx_text:_bx_events_posted_in_event />: <a href="__event_link__">__event_title__</a></p> 
		  </div> 
	</div>
</div>
</bx_repeat:comments>
 