<div id="banner_types">
	<table id="banner_types">
		<tr>
			<td class="banner_types">
				<a href="javascript:showCreateBannerContent('m/affiliates/ajax?action=create_banner&banner_type=text');">
					<img src="__img_url__text-banner-icon.png" alt="Text Banner"/>
				</a><br/>
				<h4>Text Link</h4>
			</td>
			<td class="banner_types">
				<a href="javascript:showCreateBannerContent('m/affiliates/ajax?action=create_banner&banner_type=image');">
					<img src="__img_url__image-banner-icon.png" alt="Image Banner"/>
				</a><br/>
				<h4>Image Banner</h4>
			</td>
			<td class="banner_types">
				<a href="javascript:showCreateBannerContent('m/affiliates/ajax?action=create_banner&banner_type=flash');">
					<img src="__img_url__flash-banner-icon.png" alt="Flash Banner"/>
				</a><br/>
				<h4>Flash Banner</h4>
			</td>
		</tr>
	</table>	
</div>
