@import url(../../base/css/top_menu.css);
div.sys_top_menu {
background:url("../images/moa_nav_back.png") repeat-x top;
min-height:32px;
position:relative;
z-index:100;
}
table.topMenu {
	border-bottom:1px solid #ffa500;
	border-top:1px solid #0085c0;
}

.topMenu a, .topMenu a:link, .topMenu a:visited, .topMenu b {
	background:url(../images/moa_nav_link.png) repeat-x;
}
.topMenu a span.down, .topMenu b span.down {
	background:url(../images/moa_nav_link.png) repeat-x;
}
div.sys_top_menu a, div.sys_top_menu a:link, div.sys_top_menu a:visited, div.sys_top_menu a:active, div.sys_top_menu b {
font-size:14px;
}
.topMenu a, .topMenu a:link, .topMenu a:visited, .topMenu b {
color:#000;
}

.topMenu td.top:hover a span.down, 
.topMenu td.top:hover b span.down {
	background:url(../images/moa_nav_roll.png) repeat-x;
}
.topMenu td.top a:hover a span.down, 
.topMenu td.top a:hover b span.down {
	background:url(../images/moa_nav_roll.png) repeat-x;
}

.topMenu td#tm_active a span.down {
	background:url(../images/moa_nav_roll.png) repeat-x;
}
.topMenu td#tm_active a.top_link, 
.topMenu td#tm_active a.top_link:link, 
.topMenu td#tm_active a.top_link:visited, 
.topMenu td#tm_active a.top_link:active {
	background:url(../images/moa_nav_roll.png) repeat-x;
}

.topMenu td.top:hover a.top_link, 
.topMenu td.top:hover a.top_link:link, 
.topMenu td.top:hover a.top_link:visited, 
.topMenu td.top:hover a.top_link:active {
	background:url(../images/moa_nav_roll.png) repeat-x;
}
.topMenu ul.sub li:hover {
	background:url(../images/moa_drop_red.png) top right no-repeat #fff;
	border-left:1px #ccc solid;
}

.topMenu ul.sub ul.more_sub li:hover {
	background:url(../images/moa_drop_red.png) top right no-repeat;
}
.topMenu ul.sub li a.button {
color:#000;
font-size:14px;
}
.topMenu .sub a.more_ntop_element:hover { color:#0085c0; }
.topMenu .top ul.sub li {
	border-bottom:1px solid #ccc;
}
.topMenu .top ul.sub .li_last_round {
background:none;
border:none;
}

/********************** breadcrumbs **********************************/

.breadcrumb {
background:none;
color:#666666;
font-size:9px;
height:19px;
line-height:19px;
margin:0 10px;
position:relative;
text-transform:capitalize;
}
div.sys_breadcrumb {
background:#fff;
}
.breadcrumb div.bc_open {
background:none;
}
.breadcrumb div.bc_close {
background:none;
}