<bx_include_auto:_sub_header_index.html />
	<table width="988px" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="td_promoarea"><img src="templates/tmpl_Latest/images/banner_main.jpg" style="padding-left:7px;margin-top:7px;margin-bottom:7px;"   /></td>

<td valign="top" style="height: 100px; width:100px; overflow:hidden">
<bx_injection:injection_header>


</bx_injection:injection_header>
<a href="http://www.facebook.com/parentfinder?ref=ts&fref=ts" target="_blank" /><img src="templates/tmpl_Latest/images/fb.png" style="margin-top:5px;border:none;margin-left:10px;"  /></a>
<a href="https://twitter.com/ParentFinder10" target="_blank" /><img src="templates/tmpl_Latest/images/twitter.png" style="margin-top:5px;border:none;margin-left:10px;"  /></a>
<a href=" http://pinterest.com/parentfinder10/" target="_blank" /><img src="templates/tmpl_Latest/images/Pinterest_Logo.png" style="margin-top:5px;border:none;margin-left:10px;"  /></a>
<a href="https://plus.google.com/104082064684774201396/posts?hl=en" target="_blank" /><img src="templates/tmpl_Latest/images/g+2.png" style="margin-top:5px;border:none;margin-left:10px;"  /></a>

</td>
   <td></td>
  </tr>
 </table>






<table width="988px" border="0" cellspacing="0" cellpadding="0">

<tr>
   <td class="td_quicklinks"><a href="Pregnant_adoption.php"><img src="templates/tmpl_Latest/images/pregnant.jpg" /></a></td>   
   <td class="td_quicklinks" style="padding-top: 0px;"><a href="search.php"><img src="templates/tmpl_Latest/images/tosearchfamilies.jpg" /></a></td>
   <td class="td_quicklinks" style="padding-top: 0px;"><a href="about_us.php"><img src="templates/tmpl_Latest/images/aboutus.jpg" /></a></td>
</tr>
<tr><td>&nbsp;</td></tr>
</table>
	__page_main_code__
<bx_include_auto:_sub_footer_index.html />