<script type="text/javascript" language="javascript">
<!--
	Profile._sActionsUrl = '__actions_url__';
	Profile._sObjName = '__obj_name__';
    Profile._sViewType = '__sel_view__';
    Profile._sCtlType = '__sel_control__';
	Profile._iPerPage = '__per_page__';
    Profile._sOrderBy = '__order_by__';
-->
</script>
<div id="pc-blocks-panel" class="pc-control-wrapper">
    <div id="pc-search" class="pc-search">__search__</div>
	<div id="pc-block-section" class="pc-block-section">
	__blocks__
	</div>
	__loading__
   <div class="clear_both">&nbsp;</div>
</div>

