<table style="width:100%;" cellpadding="5" style="margin:5px;">    
    <tr>
        <td colspan="2"><bx_text:_ue30_sg_admin_links_explanation /></td>
    </tr>
    <tr>
        <td><a href="__module_url__writesitemap"><b><bx_text:_ue30_sg_write_sitemap /></b></a></td>
        <td><a href="__root_url__sitemap.xml"><b><bx_text:_ue30_sg_check_sitemap /></b></a></td>
    </tr>

    <tr>
        <td colspan="2">    
            <hr />
			<bx_text:_ue30_sg_warning_sitemap />
        </td>            
    </tr>            
</table>
