<form id="pc-blocks-form" enctype="multipart/form-data" method="post" action="" class="form_advanced">
    <div class="pc-control-panel">
        <div class="pc-order-item-right">
            __per_page__
        </div>
		<div class="pc-links-item-left">
            __all__&nbsp;<b>|</b>&nbsp;__not_approved__&nbsp;<b>|</b>&nbsp;__approved__
        </div>
        <div class="clear_both">&nbsp;</div>
    </div>
    
    <div class="pc-blocks-wrapper" id="pc-blocks-common">__content_common__</div>
     __control__
</form>