<bx_include_auto:_sub_header.html />
	<div class="clear_both"></div>
		<!-- Profile Type -->
		<div class="popUpMainBlock">
			<div class="popUpHeader">JOIN</div>	
			<div class="popUpBody">
				<div class="clear_both"></div>
					<div class="popLine">
						<form>
							<div class="popCaption titleGreen">Profile Type:</div>
							<div class="popValue">
								<select>
									<option>Select</option>
									<option>Select 2</option>
									<option>Select 3</option>
								</select>
							</div>
						</form>	
					</div>
				<div class="clear_both"></div>
			</div>
		</div>
		<!-- Profile Type -->
		<div class="clear_both" style="height:30px;"></div>
		<!-- Benefits -->
		<div class="popUpMainBlock">
			<div class="popUpHeader">BENEFIT EXPLANATION</div>	
			<div class="popUpBody">
				<div class="clear_both"></div>
					<div class="popTitleGreen">CLICK TO CALL</div>
					Featured members can have a click to call box on their homepage. This allows expecting mothers to contact you directly.
				<div class="clear_both"></div>
			</div>
		</div>
		<!-- Benefits -->
		<div class="clear_both" style="height:30px;"></div>
		<!-- Join ONE -->
		<div class="popUpMainBlock">
			<div class="popUpHeader">JOIN</div>	
			<div class="popUpBody">
				<div class="clear_both"></div>
					<form>
					
						<div class="popLine">
							<div class="popTitleGreen">Profile</div>
						</div>
						
						<div class="popLine">	
							<input  class="" type="radio" name="" value="" id="" />
							<label for="">Single</label>
							<input  class="" type="radio" name="" value="" id="" />
							<label for="">Couple</label>
						</div>
						
						<div class="popLine">
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Profile Type:</div>
							<div class="popValue">
								<select>
									<option>Select Membership</option>
									<option>Option 1</option>
									<option>Option 2</option>
								</select>
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Username:</div>
							<div class="popValue">
								<input type="text" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Password:</div>
							<div class="popValue">
								<input type="password" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Confirm Password:</div>
							<div class="popValue">
								<input type="password" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
							<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>E-mail:</div>
							<div class="popValue">
								<input type="text" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">
							<div class="popTitleGreen">About</div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>First Name:</div>
							<div class="popValue">
								<input type="text" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Last Name:</div>
							<div class="popValue">
								<input type="text" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							
							<input  class="" type="radio" name="" value="" id="" />
							<label for="">Man</label>
							<input  class="" type="radio" name="" value="" id="" />
							<label for="">Woman</label>
						</div>
						
						<div class="popLine">
							<div class="popTitleGreen">Agency Information</div>
						</div>
						
						<div class="popLine">
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Adoption Agency:</div>
							<div class="popValue">
								<select>
									<option>Select Agency</option>
									<option>Option 1</option>
									<option>Option 2</option>
								</select>
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">
							<div class="clear_both"></div>
							<div class="popCaption">State:</div>
							<div class="popValue">
								<select>
									<option>Select State</option>
									<option>Option 1</option>
									<option>Option 2</option>
								</select>
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">
							<div class="clear_both"></div>
							<div class="popCaption">Region:</div>
							<div class="popValue">
								<select>
									<option>Select Region</option>
									<option>Option 1</option>
									<option>Option 2</option>
								</select>
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Captcha:</div>
							<div class="popValue">
								Captcha Image here
								<input type="text" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Security Question:</div>
							<div class="popValue">
								What is bigger, a dog or mouse?
								<input type="text" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<input type="radio" name="" value=""> I HAVE READ AND AGREED WITH <a href="terms_of_use.php">TERMS OF USE</a>
						</div><br /><br />
						
						<div class="popLine">
							<input class="joinButton" type="image" name="" value="" src="templates/tmpl_par/images/splash/join_button.png" />
							<div class="required">&#42; Required</div>
						</div>
					</form>	
				<div class="clear_both"></div>
			</div>
		</div>
		<!-- Join ONE -->
		
		<div class="clear_both" style="height:30px;"></div>
		
		<!-- Join TWO -->
		<div class="popUpMainBlock">
			<div class="popUpHeader">JOIN</div>	
			<div class="popUpBody">
				<div class="clear_both"></div>
					<form>
					
						<div class="popLine">
							<div class="popTitleGreen">Profile</div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Username:</div>
							<div class="popValue">
								<input type="text" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Password:</div>
							<div class="popValue">
								<input type="password" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Confirm Password:</div>
							<div class="popValue">
								<input type="password" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>E-mail:</div>
							<div class="popValue">
								<input type="text" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">
							<div class="popTitleGreen">Agency Information</div>
						</div>
						
						<div class="popLine">
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Adoption Agency:</div>
							<div class="popValue">
								<select>
									<option>Select Agency</option>
									<option>Option 1</option>
									<option>Option 2</option>
								</select>
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">
							<div class="clear_both"></div>
							<div class="popCaption">State:</div>
							<div class="popValue">
								<select>
									<option>Select State</option>
									<option>Option 1</option>
									<option>Option 2</option>
								</select>
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">
							<div class="clear_both"></div>
							<div class="popCaption">Region:</div>
							<div class="popValue">
								<select>
									<option>Select Region</option>
									<option>Option 1</option>
									<option>Option 2</option>
								</select>
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Captcha:</div>
							<div class="popValue">
								Captcha Image here
								<input type="text" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Security Question:</div>
							<div class="popValue">
								What is bigger, a dog or mouse?
								<input type="text" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<input type="radio" name="" value=""> I HAVE READ AND AGREED WITH <a href="terms_of_use.php">TERMS OF USE</a>
						</div><br /><br />
						
						<div class="popLine">
							<input class="joinButton" type="image" name="" value="" src="templates/tmpl_par/images/splash/join_button.png" />
							<div class="required">&#42; Required</div>
						</div>
					</form>	
				<div class="clear_both"></div>
			</div>
		</div>
		<!-- Join TWO -->
		
		<div class="clear_both" style="height:30px;"></div>
		
		<!-- Join Three -->
		<div class="popUpMainBlock">
			<div class="popUpHeader">JOIN</div>	
			<div class="popUpBody">
				<div class="clear_both"></div>
					<form>
					
						<div class="popLine">
							<div class="popTitleGreen">Profile</div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Username:</div>
							<div class="popValue">
								<input type="text" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Password:</div>
							<div class="popValue">
								<input type="password" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Confirm Password:</div>
							<div class="popValue">
								<input type="password" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
							<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>E-mail:</div>
							<div class="popValue">
								<input type="text" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">
							<div class="popTitleGreen">About</div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>First Name:</div>
							<div class="popValue">
								<input type="text" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">
							<div class="clear_both"></div>
							<div class="popCaption">State:</div>
							<div class="popValue">
								<select>
									<option>Select State</option>
									<option>Option 1</option>
									<option>Option 2</option>
								</select>
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">
							<div class="clear_both"></div>
							<div class="popCaption">Region:</div>
							<div class="popValue">
								<select>
									<option>Select Region</option>
									<option>Option 1</option>
									<option>Option 2</option>
								</select>
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine greenAlert">
							YOUR PERSONAL INFORMATION STAYS 100% ANONYMOUS AND YOU ARE<br /> ONLY KNOW ON PARENTFINDER AS YOUR USERNAME
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Captcha:</div>
							<div class="popValue">
								Captcha Image here
								<input type="text" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<div class="clear_both"></div>
							<div class="popCaption"><span>&#42;</span>Security Question:</div>
							<div class="popValue">
								What is bigger, a dog or mouse?
								<input type="text" size="" value="">
							</div>
							<div class="clear_both"></div>
						</div>
						
						<div class="popLine">	
							<input type="radio" name="" value=""> I HAVE READ AND AGREED WITH <a href="terms_of_use.php">TERMS OF USE</a>
						</div><br /><br />
						
						<div class="popLine">
							<input class="joinButton" type="image" name="" value="" src="templates/tmpl_par/images/splash/join_button.png" />
							<div class="required">&#42; Required</div>
						</div>
					</form>	
				<div class="clear_both"></div>
			</div>
		</div>
		<!-- Join THREE -->
		
		
	<div class="clear_both"></div> 
<bx_include_auto:_sub_footer.html />