<bx_include_auto:_resp_sub_header.html />
<script type="text/javascript" src="AgencyLisitngcomponent/model/AgencyLisitngcomponent_Model.js?cache=__cache_control__"></script>
<script type="text/javascript" src="AgencyLisitngcomponent/controller/AgencyLisitngcomponent.js?cache=__cache_control__"></script>

<script type="text/javascript">
    var siteurl = '<bx_url_root />';
    window.onload = function() {
        AgencyLisitngcomponent.start({
            uid: (new Date()).getTime(),
            application_path: siteurl + "AgencyLisitngcomponent/",
            dhtmlx_codebase_path: siteurl + "plugins/dhtmlx/",
            webUrl: siteurl
        });
    };

    for (i in $('a')) {
        if ($('a')[i].innerHTML == 'AGENCIES/ATTORNEYS') {
            $($('a')[i]).css('background', '#019d8c');
            break;
        }
    }

</script>
<style>
    .sys_main_content {
        width: 1010px;
    }
</style>
<div class="sys_main_content" >
    <div class="sys_mc_wrapper bx-def-margin-sec-leftright">
        <div class="sys_mc">

            <!-- body -->
            <bx_injection:injection_splash_before />__main_splash__
            <bx_injection:injection_content_before />
            <div class="clear_both"></div>

            <div class="pictureBlock agenciesPic"></div>

            <div class="pageColumn1">

                <div class="headerGreen">ADOPTION AGENCIES/ATTORNEYS</div>
                Parentfinder is your strategic partner for creating parent profiles and their accompanying outreach program. We know you have your couple&rsquo;s best interest in mind when it comes to internet vulnerability. This is why all communication between expectant parents and other agencies runs through you.
                <br />
                <div class="headerGreen2"></div>
                <div class="clear_both"></div>
                <div id="container-element">
                </div>
                <div class="clear_both"></div>
                <div class="separator"></div>
                <div class="headerGreen">THE PROCESS</div>
                Still displaying pdf profiles of hopeful adoptive parents on your website?
                Is your website built for communication and conversion of AP’s and BP’s?
                Do you understand how to leverage your AP’s profiles to gain visibility?
                As an adoption organization your membership is free on Parentfinder however
                our approach to writing and designing your adoptive parent profiles.
                Some of the most respected law firms and agencies use our marketing services 
                to dramatically improve their conversion rate.  Get started now to understand why.

                <div class="steps icoStep1">
                    Register with Parentfinder to create your Agency&rsquo;s username and password. This allows you to gain access to:
                    <br />
                    <ul>
                        <li>Create your Agency profile</li>
                        <li>Post Agency contact information</li>
                        <li>Oversee each of your couples participation in the site</li>
                    </ul>
                </div>
                <div class="steps icoStep2">

                    Once we gather the preliminary information from the chosen adoption agency, three meetings are scheduled with the family to help educate and coach them on the adoption process; creating a customized profile; launching and marketing their profiles; and how to review and make adjustments to their profile based on internet traffic data.
                    <br />
                    <br />Introduce your Adoptive Couples to Parentfinder
                    <br />

                    <ul>
                        <li class="list">Parentfinder&rsquo;s adoption professionals will reach out to your new parent members to discuss:</li>
                        <li>Best practices for writing Dear Birth Mother Letter</li>
                        <li>Proper selection of photos</li>
                        <li>Importance of video creation</li>
                        <li>Importance of journaling</li>
                        <li>Creation of printed profile</li>
                        <li>Use of other Parentfinder profile tools</li>
                        <li>Parentfinder&rsquo;s adoption professionals help families develop an outreach program for their profile that best suits each couple&rsquo;s needs. Each program includes traditional means and social media</li>

                    </ul>

                    <ul>
                        <li class="list">Featured families receive additional visibility through posting on Parentfinder&rsquo;s social media sites:</li>
                        <li>facebook.com/parentfinder</li>
                        <li>parentfinder-cairs.blogspot.com</li>
                        <li>pinterest.com/parentfinder10</li>
                        <li>instagram.com/parentfinder</li>
                        <li>twitter.com/parentfinder10</li>
                        <li>Profile placement in CAIRS monthly newsletter circulated to over 1,000 Agencies and Attorneys throughout North America</li>
                    </ul>

                </div>
                <div class="steps icoStep3">
                    Parentfinder Tasks and Measurements
                    <br />
                    <br />

                    <ul>
                        <li class="list">Match Adoptive Couples with member Expectant Parents using specific search criteria</li>
                        <li class="list">Badge Adoptive Couple Profiles to your Agency&rsquo;s website</li>
                        <li class="list">Determine Adoptive Couples profile status</li>
                        <li>Active</li>
                        <li>Inactive</li>
                        <li>Matched</li>
                        <li>Placed</li>

                        <li class="list">Oversee Adoptive Couples communications</li>
                        <li class="list">Track number of page views</li>
                        <li class="list">Membership in North America&rsquo;s largest Adoption List Serve</li>
                        <li>Send B.O.L.O.&rsquo;s</li>
                        <li>Collaborate with other member Agencies</li>
                    </ul>
                </div>


            </div>

            <div class="pageColumn2">

                <div class="quoteBlock">
                    <span> <img src="templates/tmpl_par/images/quote.png" alt="ParentFinder"></span>
                    <!-- <div class="qTop"></div>
                       The ability to help waiting parents realize their dream of becoming a family quicker is exciting to us!
                   
                       <div class="qBottom_agency"></div>!-->

                </div>
                <div class="quoteBlock_agency">
                    <div class="author">Lee Scharrer,</div> 
                    <div class="author">Executive Director, Gift of Life</div> 
                </div>
                <div class="subQuote">By embracing CAIRS technology Gift of Life has been able to reduce the wait time from approval to match with Birth Moms by 80%. This means in most cases waiting families can become parents in less time that it takes to conceive and give birth. This increase in efficiency has also led to a 23% increase in placements from January 2012 through July 2012 versus the same period in 2011.</div>

            </div>
        </div>
    </div>
</div>

<div class="clear_both"></div>
<bx_include_auto:_sub_footer.html />
