<bx_include_auto:_sub_header.html />
<style type="text/css">
.page206 {
  text-align: center;
  padding-top: 75px;
  font-size: 13px;
  font-weight: bold;
  color: #F295BF;
}
</style>
  <div class="disignBoxFirst bx-def-margin-top bx-def-border">
    <div class="boxFirstHeader bx-def-bh-margin">Access denied</div>
    <div class="boxContent">
      <div class="clear_both"></div>
        <div class="page206">
          YOUR ACCOUNT IS PENDING FOR APPROVAL. PLEASE CONTACT YOUR AGENCY.
         </div>
      <div class="clear_both"></div>
    </div>
  </div>
<bx_include_auto:_sub_footer.html />
