<bx_include_auto:_sub_header.html />
	<div class="clear_both"></div>
	
		<div class="grayIcons icoResources">ADOPTION RESOURCES</div>
		<div class="resources">
			<div class="clear_both"></div>
				<div class="pageColumn3">
					<div class="headerPink">CATEGORY NAME HERE</div>
					<a href="">Resource name link here</a><br />
					aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia 
					volupta testiunt maXimolori ora<br /><br />
					
					<div class="headerPink">CATEGORY NAME HERE</div>
					<a href="">Resource name link here</a><br />
					aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia 
					volupta testiunt maXimolori ora<br /><br />
					
					<div class="headerPink">CATEGORY NAME HERE</div>
					<a href="">Resource name link here</a><br />
					aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia 
					volupta testiunt maXimolori ora<br /><br />
					
					<a href="">Resource name link here</a><br />
					aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia 
					volupta testiunt maXimolori ora<br /><br />
					
					<a href="">Resource name link here</a><br />
					aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia 
					volupta testiunt maXimolori ora<br /><br />
				</div>
				
				<div class="pageColumn4">
				
					<div class="headerPink">CATEGORY NAME HERE</div>
					<a href="">Resource name link here</a><br />
					aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia 
					volupta testiunt maXimolori ora<br /><br />
					<a href="">Resource name link here</a><br />
					aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia 
					volupta testiunt maXimolori ora<br /><br />
					
					<div class="headerPink">CATEGORY NAME HERE</div>
					<a href="">Resource name link here</a><br />
					aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia 
					volupta testiunt maXimolori ora<br /><br />
					
					<div class="headerPink">CATEGORY NAME HERE</div>
					<a href="">Resource name link here</a><br />
					aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia 
					volupta testiunt maXimolori ora<br /><br />
				
					
				</div>
			<div class="clear_both"></div>
		</div>
		
	<div class="clear_both"></div> 
<bx_include_auto:_sub_footer.html />