<bx_include_auto:_sub_header.html />
<script type="text/javascript" src="Expctantparentfamilieslike/model/Expctantparentfamilieslike_Model.js"></script>
<script type="text/javascript" src="Expctantparentfamilieslike/controller/Expctantparentfamilieslike.js"></script>
<style type="text/css">
 .dhxform_obj_dhx_skyblue div.dhxform_btn td.btn_m div.btn_txt, .dhxform_obj_dhx_skyblue div.dhxform_btn table.dhxform_btn_pressed td.btn_m div.btn_txt btn-style {
  height: 20px;
  line-height: 20px; 
  width:150px;
  text-align: left;
  font-size: 11px;
  font-weight: bold;
  }
     
</style>
<script type="text/javascript">
var siteurl = '<bx_url_root />';
window.onload = function() {
    Expctantparentfamilieslike.start({
        uid: (new Date()).getTime(),
        application_path: siteurl + "Expctantparentfamilieslike/",
        dhtmlx_codebase_path: siteurl + "plugins/dhtmlx/"
    });
};
</script>


<div class="clear_both"></div>
<div class="page114">
<div class="grayIcons icoLikeGray">FAMILIES I LIKE</div>

<div class="clear_both"></div>

<div class="searchMenuBar">
    <div class="searchMenuBarLeft" id="button_div"></div>
    <!--<div class="searchMenuBarLeft">
				<a href=""><div class="searchItem2">SORT BY</div></a>
				<a href=""><div class="searchItem3">FAVORITES</div></a>
			</div>-->
    <div id="page_here"></div>
    <div class="searchMenuBarRight">

    </div>
</div>
<div class="clear_both"></div>
<div id="family_container_div">
<div id="error" class="errormessage">
<div id="errors" class="errormessage">            
</div></div>


<!--<div class="itemUniBlock">
			<div class="uniPic matchedSmall"></div>
			<div class="uniBottomBar">
				Laura and Peter Smith
				<a href=""><img class="icoDelete" src="templates/tmpl_par/images/ico_delete.png" alt="" title="" /></a>
				<a href=""><img class="icoFav" src="templates/tmpl_par/images/ico_fav.png" alt="" title="" /></a>
			</div>
			<div class="uniBodyBlock">
				<div class="parQuickIconsBlock">
					<div class="parQuickIcons">
						<a href=""><div class="icoParAbout"></div></a>
						<a href=""><div class="icoParHome"></div></a>
						<a href=""><div class="icoParLetter"></div></a>
						<a href=""><div class="icoParContact"></div></a>
						<a href=""><div class="icoParVideo"></div></a>
						<a href=""><div class="icoParPrint"></div></a>
					</div>
				</div>
				<div class="profileInfoCaption">AGE:</div> 33/34
				<div class="clear_both"></div>
				<div class="profileInfoCaption">STATE:</div> Florida
				<div class="clear_both"></div>
				<div class="profileInfoCaption">WAITING:</div> 3 years
				<div class="clear_both"></div>
				<div class="profileInfoCaption">CHILDREN:</div> 2 (1 adopted and 1 biological)
				<div class="clear_both"></div>
				<div class="profileInfoCaption">FAITH:</div> Catholic
				<div class="clear_both"></div><br />
				<div class="profileInfoCaption">OUR CHILD</div>
				<div class="clear_both"></div>
				<div class="profileInfoCaption">ETHNICITY:</div> Open
				<div class="clear_both"></div>
				<div class="profileInfoCaption">AGE:</div> New born to 5 years
				<div class="clear_both"></div>
				<div class="profileInfoCaption">ADOPTION TYPE:</div> Open, Closed, Semi-Open
				<div class="clear_both"></div>
			</div>
		</div>
		
		<div class="itemUniBlock">
			<div class="uniPic placedSmall"></div>
			<div class="uniBottomBar">
				Laura and Peter Smith
				<a href=""><img class="icoDelete" src="templates/tmpl_par/images/ico_delete.png" alt="" title="" /></a>
				<a href=""><img class="icoFav" src="templates/tmpl_par/images/ico_fav.png" alt="" title="" /></a>
			</div>
			<div class="uniBodyBlock">
				<div class="parQuickIconsBlock">
					<div class="parQuickIcons">
						<a href=""><div class="icoParAbout"></div></a>
						<a href=""><div class="icoParHome"></div></a>
						<a href=""><div class="icoParLetter"></div></a>
						<a href=""><div class="icoParContact"></div></a>
						<a href=""><div class="icoParVideo"></div></a>
						<a href=""><div class="icoParPrint"></div></a>
					</div>
				</div>
				<div class="profileInfoCaption">AGE:</div> 33/34
				<div class="clear_both"></div>
				<div class="profileInfoCaption">STATE:</div> Florida
				<div class="clear_both"></div>
				<div class="profileInfoCaption">WAITING:</div> 3 years
				<div class="clear_both"></div>
				<div class="profileInfoCaption">CHILDREN:</div> 2 (1 adopted and 1 biological)
				<div class="clear_both"></div>
				<div class="profileInfoCaption">FAITH:</div> Catholic
				<div class="clear_both"></div><br />
				<div class="profileInfoCaption">OUR CHILD</div>
				<div class="clear_both"></div>
				<div class="profileInfoCaption">ETHNICITY:</div> Open
				<div class="clear_both"></div>
				<div class="profileInfoCaption">AGE:</div> New born to 5 years
				<div class="clear_both"></div>
				<div class="profileInfoCaption">ADOPTION TYPE:</div> Open, Closed, Semi-Open
				<div class="clear_both"></div>
			</div>
		</div>
		
		<div class="itemUniBlock" style="margin:0px;">
			<div class="uniPic placedSmall"></div>
			<div class="uniBottomBar">
				Laura and Peter Smith
				<a href=""><img class="icoDelete" src="templates/tmpl_par/images/ico_delete.png" alt="" title="" /></a>
				<a href=""><img class="icoFav" src="templates/tmpl_par/images/ico_fav.png" alt="" title="" /></a>
			</div>
			<div class="uniBodyBlock">
				<div class="parQuickIconsBlock">
					<div class="parQuickIcons">
						<a href=""><div class="icoParAbout"></div></a>
						<a href=""><div class="icoParHome"></div></a>
						<a href=""><div class="icoParLetter"></div></a>
						<a href=""><div class="icoParContact"></div></a>
						<a href=""><div class="icoParVideo"></div></a>
						<a href=""><div class="icoParPrint"></div></a>
					</div>
				</div>
				<div class="profileInfoCaption">AGE:</div> 33/34
				<div class="clear_both"></div>
				<div class="profileInfoCaption">STATE:</div> Florida
				<div class="clear_both"></div>
				<div class="profileInfoCaption">WAITING:</div> 3 years
				<div class="clear_both"></div>
				<div class="profileInfoCaption">CHILDREN:</div> 2 (1 adopted and 1 biological)
				<div class="clear_both"></div>
				<div class="profileInfoCaption">FAITH:</div> Catholic
				<div class="clear_both"></div><br />
				<div class="profileInfoCaption">OUR CHILD</div>
				<div class="clear_both"></div>
				<div class="profileInfoCaption">ETHNICITY:</div> Open
				<div class="clear_both"></div>
				<div class="profileInfoCaption">AGE:</div> New born to 5 years
				<div class="clear_both"></div>
				<div class="profileInfoCaption">ADOPTION TYPE:</div> Open, Closed, Semi-Open
				<div class="clear_both"></div>
			</div>
		</div>-->



</div>

<div class="clear_both"></div>
<bx_include_auto:_sub_footer.html />
