<bx_include_auto:_sub_header.html />
<script type="text/javascript" src="Expctantparentprofileinfo/model/Expctantparentprofileinfo_Model.js"></script>
<script type="text/javascript" src="Expctantparentprofileinfo/controller/Expctantparentprofileinfo.js"></script>
<script type="text/javascript">
var siteurl = '<bx_url_root />';
window.onload = function() {
  Expctantparentprofileinfo.start({
    uid: (new Date()).getTime(),
    application_path: siteurl + "Expctantparentprofileinfo/",
    dhtmlx_codebase_path: siteurl + "plugins/dhtmlx/"
  });
};
</script>
<div class="clear_both"></div>
<div class="page109">
  <div class="grayIcons icoBuilder">MY EXPECTANT PARENT PROFILE</div>

  <div class="clear_both"></div>
  <div class="profileInfoHeader">
    <div class="profileInfoName" id="Bmprofilename"></div>
    <div class="profileInfoLastSeen" id="lastactive"></div>
    <a href="" id="profilelink" class="icoProfHome">PROFILE HOME</a>
    <div class="questionnaire"><a href="">QUESTIONNAIRE</a>
    </div>
  </div>
  <div class="clear_both"></div>
  <div class="headerGreen">HOW TO BE MATCH WITH A FAMILY</div>
  <div class="clear_both"></div>
  Matching can happen two different ways.
  <div class="matchesNotes">
  <ul>
    <li>Agencies/Attorneys have the ability to match you with their Adoptive Couples based on the information you provide when joining as a full member.</li>
    <li>After refining your search of Parentfinder Couples, you can reach out to Agencies/Attorneys to be matched with Adoptive Couple(s) you FAVORITE.</li>
  </ul>
  </div>
  <div class="parentMenuIconsBlock" id="expectantpa">
    <div class="clear_both"></div>
    <a href="#" id="forumlink" class="parAccountIcons icoParForum"></a>
    <a href="#" id="familylink" class="parAccountIcons icoParLike"></a>
    <a href="#" id="searchlink" class="parAccountIcons icoParSearch"></a>
    <a href="#" id="resourcelink" class="parAccountIcons icoParResourcesAct"></a>
    <a href="#" id="agencylink" class="parAccountIcons icoParAgencies"></a>
    <a href="#" id="favouritelink" class="parAccountIcons icoParFavorite"></a>
    <div class="clear_both"></div>
  </div>
  <div class="clear_both"></div>
  <div class="resourceDiv">
    <div class="pinkIcons icoResources">ADOPTION RESOURCES</div>

    <div class="pageColumn3_bm">
      <div class="headerPink">CATEGORY NAME HERE</div>
      <a href="">Resource name link here</a>
      <br />aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia volupta testiunt maXimolori ora
      <br />
      <br />

      <div class="headerPink">CATEGORY NAME HERE</div>
      <a href="">Resource name link here</a>
      <br />aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia volupta testiunt maXimolori ora
      <br />
      <br />

      <div class="headerPink">CATEGORY NAME HERE</div>
      <a href="">Resource name link here</a>
      <br />aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia volupta testiunt maXimolori ora
      <br />
      <br />

      <a href="">Resource name link here</a>
      <br />aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia volupta testiunt maXimolori ora
      <br />
      <br />

      <a href="">Resource name link here</a>
      <br />aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia volupta testiunt maXimolori ora
      <br />
      <br />
    </div>

    <div class="pageColumn4_bm">

      <div class="headerPink">CATEGORY NAME HERE</div>
      <a href="">Resource name link here</a>
      <br />aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia volupta testiunt maXimolori ora
      <br />
      <br />
      <a href="">Resource name link here</a>
      <br />aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia volupta testiunt maXimolori ora
      <br />
      <br />

      <div class="headerPink">CATEGORY NAME HERE</div>
      <a href="">Resource name link here</a>
      <br />aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia volupta testiunt maXimolori ora
      <br />
      <br />

      <div class="headerPink">CATEGORY NAME HERE</div>
      <a href="">Resource name link here</a>
      <br />aionsequiae nate nusam dollam quatem sequis ipsant vel idus simpor aut qui volo istis susam nos sae re pe cum ad quid ut quia volupta testiunt maXimolori ora
      <br />
      <br />


    </div>
  </div>
</div>

<div class="clear_both"></div>
<bx_include_auto:_sub_footer.html />
