<bx_include_auto:_resp_sub_header.html />

<script src="viewourfamilies/js/journals.js?cache=__cache_control__"></script>
<script type="text/javascript">
    var siteurl = '<bx_url_root />';
    var id = '__profile_id__';
    var loadFrom = '__profile_badge__';
    var nickName = '__profile_nickname__';
</script>
<style>
.ourjournal img {
    width: 143px;
    height: auto;
}    
</style>
<div class="clear_both"></div>
<div class="pageJournals">
    <div class="container view">
        <div class="back"></div>
        <div class="row pf_view_cl020"><!-- row section for data starts-->
            <div id="pf_journal_id01" class="pf_view_cl01" ><!-- outer data container starts-->
                <div class="ourjournal"></div>
            </div>
        </div>
    </div>
</div>
<div class="clear_both"></div>
<bx_include_auto:_resp_sub_footer.html />
