<bx_include_auto:_resp_sub_header.html />

<!--<link rel="stylesheet" type="text/css" href="viewourfamilies/css/bootstrap.min.css?cache=__cache_control__"/>
<link rel="stylesheet" type="text/css" href="viewourfamilies/css/parentfinder.css?cache=__cache_control__"/>
<script src="viewourfamilies/js/bootstrap.min.js?cache=__cache_control__"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js?cache=__cache_control__"></script>-->
<script src="viewourfamilies/js/contactus.js?cache=__cache_control__"></script>
<script type="text/javascript">
    var siteurl = '<bx_url_root />';
    var id = '__profile_id__';
    var loadFrom = '__profile_badge__';
    var nickName = '__profile_nickname__';    
    $('.pf_view_icons_cl02').attr('href','contact.php?id='+id);
</script>
<style>
    .social-icons{
        width:80px;
        height:auto;
        /*background-color:#fff;*/
        position : fixed;
        right :0px;
        top:200px;
        padding-top: 5px;
 	z-index: 50;
    }
    .social-icons a{
        display:block;
        cursor: pointer;
        height:33px;
        width: 33px;
        padding:1px;
    }
    .social-icons .fb{
        background-image: url("templates/tmpl_par/images/splash/ico_fb_act.png");
        background-repeat: no-repeat;
        margin: auto;
    }
    .social-icons .tw{
        background-image: url("templates/tmpl_par/images/splash/ico_tw_act.png");
        background-repeat: no-repeat;
        margin: auto;
    }
    .social-icons .gp{
        background-image: url("templates/tmpl_par/images/splash/ico_go_act.png");
        background-repeat: no-repeat;
        margin: auto;
    }
    .social-icons .pi{
        background-image: url("templates/tmpl_par/images/splash/ico_pi_act.png");
        background-repeat: no-repeat;
        margin: auto;
    }
    .social-icons .bg{
        background-image: url("templates/tmpl_par/images/splash/ico_bi_act.png");
        background-repeat: no-repeat;
        margin: auto;
    }
    .social-icons .in{
        background-image: url("templates/tmpl_par/images/splash/ico_in_act.png");
        background-repeat: no-repeat;
        margin: auto;
    }
    .publishpwd {
        font-size: 12px;
        margin-left: 650px;
        display: none;
    }
    .incorrect-publabel {
        display: none;
        color: red;         
        text-transform: uppercase;
    }
    .pubpwd-label{
        color: #009D8C;
        font-weight: bold;
        text-transform: uppercase;
        margin: 20px 0;
    }
    .pubpassword-label {
        width: auto;
        padding: 0 50px;
    }
    #pubpwd{
        /*padding: 0 10px;*/
        margin-left: 15px;
    }    
    #pubproceed{
        border: 3px solid #f195bf;
        padding: 3px 15px;
        text-align: center;
        color: #FFFFFF;
        font-weight: bold;
        height: 27px;
        cursor: pointer;
        background-color: #f195bf;
        margin-left: 139px;
        width: 84px;
    }   
    .page212{
        display:none;
    }

</style>
<div class="social-icons"> 
    <a class="fb" href="javascript:void(0)" target="_blank"></a>
    <a class="tw" href="javascript:void(0)" target="_blank"></a>
    <a class="gp" href="javascript:void(0)" target="_blank"></a>
    <a class="bg" href="javascript:void(0)" target="_blank"></a>
    <a class="pi" href="javascript:void(0)" target="_blank"></a>
    <a class="in" href="javascript:void(0)" target="_blank"></a>
</div>
<div class="clear_both"></div>
<div class="publishpwd">
    <div class="incorrect-publabel">Entered password is incorrect. Please try again.</div>
    <div class="pubpwd-label">Please enter the password to view the profile</div>
    <div class="pubpassword-label">PASSWORD:<input type="password" id="pubpwd"/></div></br>
    <div id="pubproceed"> Proceed</div>
</div>
<div class="page212">
    <div class="container view">
        <div class="back"></div>
        <div class="row pf_view_cl020"><!-- row section for data starts-->
            <div id="pf_contact_id01" class="pf_view_cl01" ><!-- outer data container starts-->

                <div id="pf_contact_id03"><!-- Contact details-->
                    <div class="pf_contact_cl01" >
                        <span>Contact Details</span>
                    </div>
                    <div id="pf_contact_id05">
                        <div class="pf_contact_cl02 agency_div">
                            <label> Adoption Agency:</label>
                            <span id="agencytitle"></span>
                        </div>
                        <div class="pf_contact_cl02 phno_div">
                            <label> Contact Number:</label>
                            <span id="agencycontact"></span>
                        </div>
                        <div class="pf_contact_cl02">
                            <label> Email:</label>
                            <a href="mailto:" id="agencyemail"></a>
                        </div>
                    </div>
                </div>
                <div id="pf_contact_id02"><!-- send details-->
                    <div class="pf_contact_cl01" >
                        <span>Send Mail</span>
                    </div>
                    <div>
                        <span id="ajaxMessage"></span>
                    </div>
                    <div id="pf_contact_id04">
                        <div class="pf_contact_cl02">
                            <label> <span>*</span>Your Name:</label>
                            <input type="text" name="name"/>
                            <span class="errordata"><i class="warn sys-icon exclamation-sign" float_info="Should Not be Empty"></i></span>
                        </div>
                        <div class="pf_contact_cl02">
                            <label> <span>*</span>Your Email:</label>
                            <input type="text" name="email"/>
                            <span class="errordata"><i class="warn sys-icon exclamation-sign" float_info="Incorrect Email"></i></span>
                        </div>
                        <div class="pf_contact_cl02">
                            <label> <span>*</span>Message Subject:</label>
                            <input type="text" name="subject"/>
                            <span class="errordata"><i class="warn sys-icon exclamation-sign" float_info="Should Not be Empty"></i></span>
                        </div>
                        <div class="pf_contact_cl02 pf_contact_cl04">
                            <label class="pf_contact_cl05"> <span>*</span>Message For User:</label>
                            <textarea name="body"></textarea>
                            <span class="errordata"><i class="warn sys-icon exclamation-sign" float_info="Should Not be Empty"></i></span>
                        </div>
                        <div class="">
                            <input name="check" type="hidden" value=""/>
                        </div>
                        <div class="pf_contact_cl07">
                            <input id="submit" type="submit" value="Submit"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- outer container ends-->
        </div>
    </div>
</div>
<div class="clear_both"></div>
<bx_include_auto:_resp_sub_footer.html />
