<bx_include_auto:_resp_sub_header.html />
<div class="sys_main_content" >
    <div class="sys_mc_wrapper bx-def-margin-sec-leftright">
        <div class="sys_mc">

            <!-- body -->
            <bx_injection:injection_splash_before />__main_splash__
            <bx_injection:injection_content_before />
            <script type="text/javascript">
                var loaded_From = '__load_from__';
                if (loaded_From == 'badge')
                {
                    document.getElementById('header').style.display = 'none';

                }
            </script>
            <script type="text/javascript">

                var deano = __top_deano__
                var ptype = __top_login__

                if (deano == 'Deanotools' && ptype == 2)
                    window.location.href = siteurl + "our-family-dashboard.php";
                else if (deano == 'Deanotools' && ptype == 8)
                    window.location.href = siteurl + "extra_agency_view_28.php";
                else if (deano == 'Deanotools' && ptype == 4)
                    window.location.href = siteurl + "extra_profile_view_20.php";

                for (i in $('a')) {
                    if ($('a')[i].innerHTML == 'PARENTFINDER SERVICES') {
                        $($('a')[i]).css('background', '#019d8c');
                        break;
                    }
                }
            </script>

            <style type="text/css">

                a.hLink {
                    color: #f195bf !important;
                }
                a.hLink:hover {
                    color: #a2a4a7 !important;
                }
                .sys_main_content {
                    width: 1010px;
                }
            </style>
            <div class="clear_both"></div>
            <div class="pictureBlock indexPic"></div>
            <div class="pageColumn1">
                <div class="headerGreen">GET CONNECTED &ndash; ADOPTIVE COUPLES</div>
                ParentFinder allows Adoptive Couples to get connected to the tools that build a personality driven profile rich in photos, multimedia, letters, and videos
                <br />

                <ul>
                    <li>Security - we keep your personal information protected</li>
                    <li>Flexible plans available to suit the individual needs of each adoptive family</li>
                    <li>Featured families have all photos and letters reviewed by one of our adoption coaches</li>
                    <li>Provides adoptive families the ability to be matched by other adoption agencies and law firms</li>
                    <li>Search and find birth parents</li>
                    <li>Agencies are able to run matching capabilities based on your profile key words, child preferences and your family fact and background</li>
                    <li>Ability to link your profile to other social networks (Facebook, Twitter, YouTube, Pinterest, Instagram and more)</li>
                    <li>Create customized printed profile with one of our adoption professionals</li>
                    <li>Video Creation Tool</li>
                    <li>Featured Family profiles are presented on all Parentfinder social media sites, blog, and monthly newsletter seen by over 1,000 agencies and attorneys</li>
                </ul>

                <a class="hLink" href="adoptive_couples.php">Click here to visit our ADOPTIVE FAMILIES area</a>

                <div class="headerGreen">GET CONNECTED &ndash; EXPECTANT PARENTS</div>
                Find the right adoptive family either by directly browsing family profiles or performing an advanced search based on age group, region, child preference, ethnicity, etc.
                <br />

                <ul>
                    <li>ParentFinder.com provides you the anonymity and security you need to feel secure</li>
                    <li>Adoptive Couples have uploaded pictures, letters, and videos for you to view and read online any time anytime 24/7</li>
                    <li>Matching capabilities through advanced search</li>
                    <li>Ability to &quot;Like&quot; families. The families you &quot;Like&quot; are kept securely on your private membership page</li>
                    <li>Ability to narrow your search with the &quot;Favorite&quot; feature. The families you &quot;Favorite&quot; are kept securely on your private membership page</li>
                    <li>View waiting families portfolio, videos in all social sites - Facebook, Twitter, YouTube, Pinterest, Instagram, and more</li>
                    <li>Diverse set of contact options for reaching out to adoptive families via their agency or attorney</li>
                    <li>Find guidance and advice from birthmoms in the secure Expectant Parent forum</li>
                </ul>

                <a class="hLink" href="expectant_parents.php">Click here to visit our EXPECTING MOTHERS area</a>

                <div class="headerGreen">GET CONNECTED &ndash; AGENCIES/ATTORNEYS</div>
                Our adoption profile creation resources are staffed with birthmoms, adoptive parents, and other adoption professionals. Resource visibility of their Agency/Practice, gain all of the profile creation tools necessary for the adopting families to create a diverse profile outreach program, and match adopting couples with expectant parents.
                <br />

                <ul>
                    <li>Agencies are able to run matching capabilities for their adoptive couples beyond their existing family network &ndash; includes collaborating with other agencies</li>
                    <li>Safe, secure, and confidential communication with adoptive couples and expectant parents</li>
                    <li>Automated creation of &quot;waiting families&quot; section on your agency&rsquo;s web site</li>
                    <li>Complete control of content and posting of family&rsquo;s profile, journals, photos, and videos</li>
                    <li>Click to call contact information for all agencies</li>
                    <li>Traffic Analysis and recommendation</li>
                    <li>Agency affiliate and branding programs</li>
                    <li>Free membership in North American&rsquo;s largest adoption list serve</li>
                    <li>Event management</li>
                    <li>System Supports multiple billing options</li>
                </ul>

                <a class="hLink" href="agencies.php">Click here to visit our ADPOTION AGENCIES area</a>

            </div>

            <div class="pageColumn2">

                <div class="quoteBlock">
                    <span>
                        <img src="templates/tmpl_par/images/suggestionsIndex_img.png" alt="ParentFinder">
                    </span>
                    <!-- <div class="qTop"></div>
                     Your suggestions have been amazing because today we are parents to a perfect baby boy!
                     <br />Birthmom found us on Parentfinder and we are sitting in the hospital with him now!
                     <br />
                     <br />
                     <div class="qBottom"></div>!-->
                    <div class="author">Jen and Jim</div>
                </div>

            </div>
            <div class="clear_both"></div>
        </div>
    </div>
</div>

<div class="clear_both"></div>
<bx_include_auto:_sub_footer.html />
