<bx_include_auto:_resp_sub_header.html />

<style>
    /* Demo styles */
    /* html, body {
      background:#FFF;
      margin:0;
    }
    body {
      border-top:4px solid #FFF;
    }
    .content {
      color:#777;
      font:12px/1.4"helvetica neue", arial, sans-serif;
      width:620px;
      margin:20px auto;
    }
    h1 {
      font-size:12px;
      font-weight:normal;
      color:#ddd;
      margin:0;
    }
    p {
      margin:0 0 20px
    }
    a {
      color:#22BCB9;
      text-decoration:none;
    }
    .cred {
      margin-top:20px;
      font-size:11px;
    }*/
    .ourfamilies {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACXElEQVRYR+2Wz0tVQRTHtSiyoiDSwqACqVWQtFELEgIrimpRIi1a5KIiNJQW+Q+IEOiiyEUtInCT/YBa9GMRWEShLSyKIESkCKIggkhtUdbnC+fKfcO53ptv8QjuwIe5c+bMPd85d868V15W4lZe4vhluYA8A3kGvAzI1gFnYS28sPFwrGS38dwDO832mP4cvIr5nOS5F5bBb7gDzTATL31PQCcOfcH9MMl4K4yDgj+FisBnivF2E7GX/r5zx9w0EbNTnoCPzK5zFp+3XT6k3+3My6Sg+2AUah2fX9gWpWVATgudxQPYjsE0LEkQoCwo5e9hfYJPwaa9DDxnYb2z+Ay2ixkF3MXvgPOO79hWpmWgDodHtpPId4SHRvgJD2BPwu7uYd8PVTABS2N+f3g+DtfSBGi+Bk5ANSj4FQuuOR3GZ8HLZddBbYDXFmA1/WXQWfgMqpInofD5XkQSoTJUVtSGoCsWPIyTOJ6vgMwB0hw9ARtZdBi2wHL4CjqYt+BH2gttfg19N+iTrABVzlvLWvxCK/g/sBgH1Xo7LHAC6XueAh2mVSaw0vy+0L+BbzZ+R785QaxuVt2gOtCzAlT3t+Ggs0i1rdN7A45CG6hMw+xJmDKlUr0OF8zX06HLbgPMRC85zeCS4ymVTTAGg6Y8YWMF5iFGLYaEeO0qxtZIgO5offew6QdFmVHZbcoSOeajz6Dfhn4TEi7/oCxEAvTtdwUeql3dZhJw6B+DR+5aq0x8gvilpPmXsCNLGerbFtPmjPFfCDhSzPZZq/OV2LJkoMj4cy/PBeQZKHkG/gI11mghHDT8NAAAAABJRU5ErkJggg==");
        background-position: top left;
        background-repeat: no-repeat;
    }
    .abtus {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAABtElEQVRIS72Wi3GCQBCGAzRgCdgBQgFpQTuIHWgFJhVoKpAOYgmmAPA6kBJsAMj/M3fmIDyW+GDGkZnb3W/fh/PypMcZ4gRB4LuuO3cc5xWyPn6B1lH4z8qy/C6K4qCUyvpsdYI0YAPA25AzPAcwBvCjC9gKCsOQxreATCQQIwPYBe/rNE3jpt4fECEA7McAmrIALpuwGugeECu6GuwK0jU5CdJ1zPN8gVpcoij6guF5W/RMI2o2MzW7ghDNXlJ4GGANdjQOECGEtT5sEMgueViBGI3neWdhXRQjoix0CDHt3qoO2SmjqkCIZoVotkLQKDGTgQrUl2vbKpQyOMQhDQS1NKqHJEkWBnTqSwEBOP9EcWM2AVI9wbZg4/iC8BRAMwMqBQoUqbzT6X4HaCPRg45zC4ibYzUW1Js6Y8xubTTQ+T+p6xw822O0KgdQjRyH32aQtDcbAsM3HTsOtfaWeGhPuXSL0KnawGove1cQQDtEtJbIWjWtryAeDC1VvSS5TI96yLnn2N6tK6hzqWpPb76LrGjarwkjcI87afDis2F4f+xVbmBP+Tixh/Thn1uSHTZG5gcrIjMqeXiHsgAAAABJRU5ErkJggg==");
        background-position: top left;
        background-repeat: no-repeat;
    }
    #sliderFrame {
        min-height: 0px;
    }
    .sys_main_content {
        width: 1010px;
    }
</style>





<link rel="stylesheet" type="text/css" href="viewourfamilies/css/pgwslideshow.css?cache=__cache_control__"/>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js?cache=__cache_control__"></script>-->
<script type="text/javascript" src="viewourfamilies/js/pgwslideshow.js"></script>

<script type="text/javascript" src="Agencyprofileviewcomponent/model/Agencyprofileviewcomponent_Model.js?cache=__cache_control__"></script>
<script type="text/javascript" src="Agencyprofileviewcomponent/controller/Agencyprofileviewcomponent.js?cache=__cache_control__"></script>

<script type="text/javascript" src="LikeComponent/Model/likeComponent_model.js?cache=__cache_control__"></script>
<script type="text/javascript" src="LikeComponent/Controller/likeComponent.js?cache=__cache_control__"></script>

<script type="text/javascript" src="LoginComponent/model/LoginComponent_Model.js?cache=__cache_control__"></script>
<script type="text/javascript" src="LoginComponent/controller/LoginComponent.js?cache=__cache_control__"></script>
<script type="text/javascript" src="JoinComponent/model/JoinComponent_Model.js?cache=__cache_control__"></script>
<script type="text/javascript" src="JoinComponent/controller/JoinComponent.js?cache=__cache_control__"></script>

<script src="slider/jsImgSlider/slidermin.js?cache=__cache_control__" type="text/javascript"></script>

<script type="text/javascript">
    var siteurl = '<bx_url_root />';
    var Id = '__profile_id__';
    var loadFrom = '__profile_badge__';
    var nickName = '__profile_nickname__';

    window.onload = function() {
        Agencyprofileviewcomponent.start({
            uid: (new Date()).getTime(),
            site: siteurl,
            slider: 'home',
            application_path: siteurl + "Agencyprofileviewcomponent/",
            dhtmlx_codebase_path: siteurl + "plugins/dhtmlx/",
            websiteurl: siteurl
        });
    };
</script>
<style>
    #sliderFrame {
        height: auto;
    }
    #agencyLogo img {
        max-height: 54px;
        width: auto;
    }
    @media (max-width: 639px) {
        .pgwSlideshowLight .ps-list ul {
            display: none !important;
        }
        .pgwSlideshowLight .ps-current>ul {
            height: 240px;
        }

        .pgwSlideshowLight .ps-current {
            max-height: 240px !important;
        }
    }
    .pgwSlideshowLight .ps-current>ul>li img {
        max-height: 100% !important;
    }

    .pgwSlideshowLight .ps-current>ul {
        height: 440px;
    }

    .pgwSlideshowLight .ps-current>ul>li {
        height: 100%;
    }

    .pgwSlideshowLight .ps-current {
        max-height: 440px !important;
    }
    /*    .pgwSlideshowLight a {
            color: #f195bf !important;
        }*/
    .pgwSlideshowLight a:hover {
        color: #12A5F4 !important;
    }
</style>



<div class="sys_main_content" >
    <div class="sys_mc_wrapper bx-def-margin-sec-leftright">
        <div class="sys_mc">

            <!-- body -->
            <bx_injection:injection_splash_before />__main_splash__
            <bx_injection:injection_content_before />
<div class="clear_both"></div>
<div class="page117">

    <div class="grayIcons icoBuilder ourfamilies">&nbsp;Our Families</div>

    <div class="pageColumn5">
        <!--    <div id="sliderFrame">
              <div u="loading" class="loader">
                   </div>
             
       
             <div id="ribbon"></div>
             <div id="slider">
       
       
               <div class="mc-caption-bg2" style="opacity: 1; visibility: visible;">
                 <div class="mc-caption" id="caption" style="width: 100%;"></div>
               </div>
             </div>
       
             <a style="margin-top: 60px;" onclick="slider.previous()" class="navPrev"></a>
       
             <a style="margin-top: 60px;" onclick="slider.next()" class="navNext"></a>
       
             <div id="OuterThumb">
               <div id="innerthumb">
            
                 <div id="thumbs">
 
       
                             </div>
                   
                           </div>
                         </div>
                       </div> -->
                    <div id="sliderFrame">
                        <!--  slider starts !-->
                        <!-- Loading Screen -->
                        <div u="loading" class="loader"></div>
                        <div id="sliderNew"><!-- image slider-->
                            <ul class="pgwSlideshow"></ul>
                        </div>
                    </div>

                    <!--  slider ends!-->
                </div>
                <div class="pageColumn6">
                    <div class="profileInfoMainBlock">
                        <div class="profileInfoHeader_agencyview">
                            <div class="profileInfoName" id="agencyname"></div>
                            <span class="profileInfoLastSeen" id="lastactive"></span>
                            <span id="agencylikes" class="icoLike"></span>
                        </div>
                        <div class="clear_both"></div>
                        <!--            <div class="agencyInfoSocial">
                                        <a href="" target="_blank" id="facebookurl">
                                            <div class="icoSmFb"></div>
                                        </a>
                                        <a href="" target="_blank"  id="twitterurl">
                                            <div class="icoSmTw"></div>
                                        </a>
                                        <a href="" target="_blank"  id="googleurl">
                                            <div class="icoSmGo"></div>
                                        </a>
                                        <a href="" target="_blank"  id="pineresturl">
                                            <div class="icoSmPi"></div>
                                        </a>
                                        <a href="" target="_blank"  id="bloggerurl">
                                            <div class="icoSmBi"></div>
                                        </a>
                                        <div class="clear_both"></div>
                                    </div>-->
                        <!--<div>&nbsp;</div>-->
                        <!--<div>&nbsp;</div>-->
                        <div class="clear_both"></div>
                        <!--<div id="agencyemail" class="profileInfoCaption_agencyemailview"></div>-->
                        <div>&nbsp;</div>
                        <div id="agencynames" class="profileInfoCaption_agencyview"></div>
                        <div class="profileBlock">
                            <div class="fieldTitleGreen icoBuildContactInfo">OUR CONTACT INFO</div>
<div class="pf_more_cl022" style="height:auto;">
	<div class="pf_more_cl017" style="padding-top:0px;">
		<div class="pf_more_cl019"></div>
		<div class="pf_more_cl020">
			<div>
				<span class="profileInfoCaption"></span>
				<span id="agency_address"></span>
			</div>
			<div>
				<span class="profileInfoCaption"></span>
				<span id="phonenumber"></span>
			</div>
			<div>
				<span class="profileInfoCaption"></span>
				<span id="pemail"></span>
			</div>
                        <div id="agencyemail" class="profileInfoCaption_agencyemailview"></div>
			<div class="agencyInfoSocial">
				<a href="" target="_blank" id="facebookurl">
					<div class="icoSmFb"></div>
				</a>
				<a href="" target="_blank"  id="twitterurl">
					<div class="icoSmTw"></div>
				</a>
				<a href="" target="_blank"  id="googleurl">
					<div class="icoSmGo"></div>
				</a>
				<a href="" target="_blank"  id="pineresturl">
					<div class="icoSmPi"></div>
				</a>
				<a href="" target="_blank"  id="bloggerurl">
					<div class="icoSmBi"></div>
				</a>
				<div class="clear_both"></div>
			</div>
			<div>&nbsp;</div>
			
			
			<div class="clear_both"></div>

		</div>
	</div>
</div>							
						</div>
            <div class="clear_both"></div>
					</div>
                </div>
            </div>
<div class="clear_both"></div>
<div class="grayIcons icoBuilder abtus" style = "margin-top:15px;">About Us</div>
<div id="agencydesc"></div>
        </div>
    </div>
</div>
<script>
</script>
<bx_include_auto:_sub_footer.html />
