<div class="container">
__msg__
	<ul id="navPyra">
		<!-- CSS Tabs -->
		<li><a__tab1__ href="?r=block_tools/administration/&tab=cb">Copy Blocks</a></li>
		<li><a__tab2__ href="?r=block_tools/administration/&tab=db">Blocks Design 
		Box</a></li>
		<li><a__tab3__ href="?r=block_tools/administration/&tab=pb">PHP Blocks</a></li>
		<li><a__tab4__ href="?r=block_tools/administration/&tab=hb">HTML Blocks</a></li>
		<li><a__tab5__ href="?r=block_tools/administration/&tab=rb">RSS Blocks</a></li>
	</ul>
<div class="sectiondesc">__sectiondesc__</div>
<div class="sectioncontent">__sectioncontent__</div>
</div>
