.profile_types_table td,
.search_result_layout td {
	border: 1px solid #ccc;
	font-size: 10pt;
}
.header_row {
	background-color:#E5E5E5;
	text-align: center;
	font-weight: bold;
	font-size: 10pt;
}
#migrate_progress {
	text-align: center;
	font-weight: bold;
}



.aqb_menu_section {
	border: 1px solid green;
}
.aqb_top_menu_item,
.aqb_custom_menu_item,
.aqb_system_menu_item {
	width: 92px;
	height: 21px;
	overflow:hidden;
	padding:7px 5px 0 20px;
	white-space:nowrap;
}
.aqb_top_menu_item {
	background: url(../images/top_item_bg.gif) no-repeat;
}
.aqb_custom_menu_item {
	background: url(../images/custom_item_bg.gif) no-repeat;
}
.aqb_system_menu_item {
	background: url(../images/system_item_bg.gif) no-repeat;
}
.aqb_top_menu_item a,
.aqb_custom_menu_item a,
.aqb_system_menu_item a{
	color:#6666CC;
	display:block;
	overflow:hidden;
	text-decoration:none;
	font-size: 11px;
}

.aqb_column_cont {
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 3px;
	margin: 5px;
	text-align: center;
	overflow: hidden;
}
.aqb_column_header {
	background-color: #ccc;
	padding: 3px;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
	white-space: nowrap;
	overflow: hidden;
}
.aqb_column_block {
	background:url(../images/block_header.gif) no-repeat;
	font-size:11px;
	height:22px;
	margin:0 auto 2px;
	padding-top:6px;
	text-align:center;
	text-transform:capitalize;
	width:142px;
}