<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
	*{
		margin: 0;
		border: 0;
		padding: 0;
	}
	html,body{
		width: 100%;
		height: 100%;
	}
	</style>
</head>
<body>
	
              

<!-- Add an edit button, passing the HTML id of the image
    and the public URL to the image -->
<!-- <a href="#" onclick="return launchEditor('editableimage1', 
    'http://devlocal.parentfinder.com/modules/boonex/photos/data/files/24048.jpg');">Edit!</a> -->


<a href="#" id="edit">Edit</a>
<!-- original line of HTML here: -->
<img id="editableimage1" src="http://parentfinder.com/modules/boonex/photos/data/files/24048.jpg"/>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<!-- Load widget code -->
<script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>
<script type="text/javascript" src="app.js"></script>      

<!-- Instantiate the widget -->
   

</body>
</html>